
.frame-square {
  display:block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.ratio169{
  padding-top: 56.25%;
}
.ratio32{
  padding-top: 66.66%;
}
.ratio1910{
  padding-top: 52.63%;
}
.photo-grid-2col{
  -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.ratio43{
  padding-top: 75%;
}
.frame-square img {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    object-fit: cover;
}

/***** For Masonry *****/

.item-container{
  margin:0px auto;
  display: block;
  float: left;
  width: 100%;
}
.item-grid {
  display: block;
  padding:0px 15px;
    float: left;
  overflow: hidden;
  z-index: 1;
}
.item-grid h3 {
  color: #000;
}
.item-grid p {
  color: #5b5b5b;
}
.item-grid img {
  width: 100%;
  height: auto;
  display: block;
}
.item-grid-sizer, .item-grid {
  width: 32%;
}
.masonry_3C .item-grid{
 
}
.item-four-col .item-grid-sizer, .item-four-col .item-grid {
  width: 24%;
}
@media screen and (max-width: 1200px) {
	.item-four-col .item-grid-sizer, .item-four-col .item-grid {
	  width: 32%;
	}
	.item-grid-sizer, .item-grid{
	  width: 32%;
	}
}
@media screen and (max-width: 750px) {
	.item-grid-sizer, .item-grid {
		width: 46%;
	}
	.item-four-col .item-grid-sizer, .item-four-col .item-grid {
		width: 46%;
	}
	.item-grid-sizer, .item-grid{
	  width: 48%;
	}
}
@media screen and (max-width: 500px) {
	.item-grid-sizer, .item-grid {
		width: 100%;
	}
	.item-four-col .item-grid-sizer, .item-four-col .item-grid  {
		width: 100%;
	}
}
