body.artist,body.artists {
  background-color: #9cc1cb;
}

body.artist .btn-sub-nav-dropdown,body.artists .btn-sub-nav-dropdown {
  background-color: #9cc1cb !important;
}

body.exhibition,body.exhibitions {
  background-color: #b2cda1;
}

body.exhibition .btn-sub-nav-dropdown,body.exhibitions .btn-sub-nav-dropdown {
  background-color: #b2cda1 !important;
}

