@font-face {    
    font-family: 'gotham_lightregular';
    src: url('/css/fonts/gotham-light-webfont.eot');
    src: url('/css/fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gotham-light-webfont.woff') format('woff'),
         url('/css/fonts/gotham-light-webfont.ttf') format('truetype'),
         url('/css/fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: 'Helvetica Neue';
    src: url('/css/fonts/HelveticaNeue.eot');
    src: url('/css/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/HelveticaNeue.woff') format('woff'),
         url('/css/fonts/HelveticaNeue.ttf') format('truetype'),
         url('/css/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: 'Avenir';
    src: url('/css/fonts/AvenirLTStd-Black.eot');
    src: url('/css/fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/AvenirLTStd-Black.woff') format('woff'),
         url('/css/fonts/AvenirLTStd-Black.ttf') format('truetype'),
         url('/css/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: 'Helvetica';
    src: url('/css/fonts/Helvetica.eot');
    src: url('/css/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Helvetica.woff') format('woff'),
         url('/css/fonts/Helvetica.ttf') format('truetype'),
         url('/css/fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.artist,body.artists {
  background-color: #9cc1cb;
}

body.artist .btn-sub-nav-dropdown,body.artists .btn-sub-nav-dropdown {
  background-color: #9cc1cb !important;
}

body.exhibition,body.exhibitions {
  background-color: #b2cda1;
}

body.exhibition .btn-sub-nav-dropdown,body.exhibitions .btn-sub-nav-dropdown {
  background-color: #b2cda1 !important;
}

/**30.nov**/

.fixed-table-toolbar .pull-right.search { float:left !Important; }
.fixed-table-toolbar .columns.columns-right { float:none !Important; }
.fixed-table-toolbar .export.btn-group { position:relative; }
.fixed-table-toolbar .export.btn-group .btn.dropdown-toggle {   width: 200px;  text-align: right; }
.fixed-table-toolbar .export.btn-group .export_datan {       position: absolute;   left: 4px;     z-index: 99;
    color: #000; }
 .fixed-table-pagination .page-list {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 10px;
}   
.fixed-table-toolbar .keep-open.btn-group { position:relative; }
.fixed-table-toolbar .keep-open.btn-group .btn.dropdown-toggle {   width: 150px;  text-align: right; }
.fixed-table-toolbar .keep-open.btn-group .export_datan {       position: absolute;   left: 4px;     z-index: 99;  color: #000; }
.fixed-table-toolbar  .columns.columns-right  button[name=toggle] {     position: relative;  width: 40px;  height: 34px; }
.fixed-table-toolbar  .columns.columns-right  button[name=toggle]:before { position: absolute;
    top: 5px;
    left: 6px;
    content: '\f00b';
    font-family: fontawesome;
    font-size: 17px;
    width: 25px;
    height: 25px; }

.fixed-table-toolbar { padding-top:40px; padding-left:12px; }
.fixed-table-toolbar .bs-bars.pull-left { position: absolute; top: -5px;  left: 10px; }

/**3.dec**/
.fixed-table-pagination .dropup .dropdown-menu { top:32px; }
.fixed-table-pagination .dropup .dropdown-menu li  { background:#fff;  }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {  border-bottom:0px;   border-top: 4px dashed; }

.fixed-table-pagination .pagination-detail { margin-left:10px; }

/**4.dec**/

.export.btn-group .export_datan a  {  word-break: break-all; }
.table.table-hover  tr td { position:relative;  padding:5px !Important;       vertical-align: middle;
  }
.table.table-hover  tr td .edit { position:relative; top:0; left:0; width:100%; height:100%; display:inline-block; padding:10px; float:left; }
.table.table-hover  tr td  .edit:hover { border:1px solid #ddd; background: #ECF9FD; }
.table.table-hover  tr td  .edit:focus { border:1px solid #ddd;  }

.table.table-hover  tr td .edit_exhibition { position:relative; top:0; left:0; width:100%; height:100%; display:inline-block; padding:10px; float:left; }
.table.table-hover  tr td  .edit_exhibition:hover { border:1px solid #ddd; background: #ECF9FD; }
.table.table-hover  tr td  .edit_exhibition:focus { border:1px solid #ddd;  }

.table.table-hover  tr td:nth-last-child(2):hover    { border:1px solid #ddd; background: #ECF9FD; } 
.table.table-hover  tr td:nth-last-child(1):hover    { border:1px solid #ddd; background: #ECF9FD; } 

.table.table-hover  tr td:nth-last-child(2):focus    { border:1px solid #ddd; background: #ECF9FD; } 
.table.table-hover  tr td:nth-last-child(1):focus    { border:1px solid #ddd; background: #ECF9FD; } 

.table.table-hover  tr td > span {     position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    /* min-width: 100px; */
     float:left;
     }
#page_backend .table.table-hover  tr td {  padding:4px !Important;   }
#subview-container {
    max-width: 100% !Important;
}

/**26,Dec**/
.datepicker.dropdown-menu { z-index: 9999 !Important; }

/**21 Jan**/
body.single_column { background-color: #b2cda1 !Important;}

/**25.jan**/
.profileinfo .gallery-artwork-detail { margin:50px 0px;  }
.gallery-artwork-detail .photo-grid .photo-grid-title, .photo-grid-5 .photo-grid-title { height:auto;  }
/* .gallery-artwork-detail .photo-grid .photo-grid-container IMG {   padding-bottom: 120px; } */
.gallery-artwork-detail #curator_exhibitions .photo-grid .photo-grid-container IMG { max-height:350px;     object-fit: contain; margin: 0 auto;  display: block; }
	
/**30.jan**/
#curator_artworks .profileinfo h1, #curator_exhibitions .profileinfo h1, #artist_artworks .profileinfo h1, #artist_exhibitions .profileinfo h1, .gallery-artwork-detail .profileinfo h1, .profileinfo.italic.mb10 h1  { font-size:36px;  }

#curator_artworks .photo-grid-title h2, #curator_exhibitions .photo-grid-title h2, #artist_artworks .photo-grid-title h2, #artist_exhibitions .photo-grid-title h2, .gallery-artwork-detail .photo-grid-title h2 { font-size:16px;  }

#curator_artworks .photo-grid-title h3, #curator_exhibitions .photo-grid-title h3, #artist_artworks .photo-grid-title h3, #artist_exhibitions .photo-grid-title h3, .gallery-artwork-detail .photo-grid-title h3, .photo-grid-title.artinfo h3  { font-size:14px;  }

#curator_artworks .photo-grid-title h4, #curator_exhibitions .photo-grid-title h4, #artist_artworks .photo-grid-title h4, #artist_exhibitions .photo-grid-title h4, .gallery-artwork-detail .photo-grid-title h4 , .photo-grid-title.artinfo h4  { font-size: 16px;}

.gallery-artwork-detail .photo-grid .photo-grid-container .pdf-thumb-box-overlay { display:none; }
.gallery-artwork-detail .photo-grid .photo-grid-container .photo-grid-title.artinfo { position:relative;  }
.gallery-artwork-detail .photo-grid .photo-grid-container IMG {  padding-bottom: 20px; }

/*31jan si*/
/* .photo-grid-title.artinfo h2  { font-size:15px}
.photo-grid .photo-grid-title, .photo-grid-5 .photo-grid-title {
    position: absolute;
    bottom: -4px !important;
    height: 110px !important;
    width: 100%;
    text-align: center;
    color: black;
    border: 0px solid black;
    line-height: 1.2em;
} */

.photo-grid .photo-grid-container, .photo-grid-5 .photo-grid-container { display:inline-block; }

/**2.feb**/
.gallery-artwork-detail #curator_exhibitions .photo-grid .photo-grid-container IMG { max-height: 100%; }
#curator_exhibitions .photo-grid-container.gallery-list-item .photo-grid-title {
    position: relative;
    bottom: 10px;
    height: 100%;
}
#curator_exhibitions .photo-grid .photo-grid-container IMG {  padding-bottom: 20px !important;  }

@media  (max-width: 767px){
.gallery-artwork-detail .photo-grid .photo-grid-container .photo-grid-title.artinfo { position:relative; padding:0px 20px;  }
#curator_exhibitions .photo-grid-container.gallery-list-item .photo-grid-title { padding:0px 20px;  }
}

/**27.mar 2019**/
.pagination-info { display:none !important; }

/**28.mar 2019**/
@media  (max-width: 480px){

#curator_artworks .profileinfo h1, #curator_exhibitions .profileinfo h1, #artist_artworks .profileinfo h1, #artist_exhibitions .profileinfo h1, .gallery-artwork-detail .profileinfo h1, .profileinfo.italic.mb10 h1 {
    font-size: 36px;
    padding: 0px 15px;
}

.gallery-artwork-detail article.row h3 { padding:0px 15px;  }
.gallery-artwork-detail article.row p { padding:0px 15px;  }
.gallery-artwork-detail article.row .photo-grid-title a h3  { padding:0px 0px;  }
/* #curator_artworks .photo-grid-title h4, #curator_exhibitions .photo-grid-title h4, #artist_artworks .photo-grid-title h4, #artist_exhibitions .photo-grid-title h4, .gallery-artwork-detail .photo-grid-title h4, .photo-grid-title.artinfo h4 {  
    padding: 0px 15px;
}
#curator_artworks .photo-grid-title h2, #curator_exhibitions .photo-grid-title h2, #artist_artworks .photo-grid-title h2, #artist_exhibitions .photo-grid-title h2, .gallery-artwork-detail .photo-grid-title h2 {    
    padding: 0px 15px;
}
#curator_artworks .photo-grid-title h3, #curator_exhibitions .photo-grid-title h3, #artist_artworks .photo-grid-title h3, #artist_exhibitions .photo-grid-title h3, .gallery-artwork-detail .photo-grid-title h3, .photo-grid-title.artinfo h3 { padding:0px 15px;  }
#curator_exhibitions .photo-grid-container.gallery-list-item .photo-grid-title {
    padding: 0px 0px;
} */
.profileinfo .tab-content.profileDetails { padding:0px 15px;  }
.artistProfile { padding:0px 15px;  }

}
/**29.mar 2019**/
.nav-header-hide { display:none; }
.__edit_page-off{ display:none; }
.slimmenu-menu-collapser{ display:none !important; }
/* #main-footer{ display:none; }

*/

h1 {font-size:28px  !Important;  }
h2 { font-size:25px !Important; }
h3 { font-size:21px !Important; }
h4 { font-size:18px !Important; }
p { font-size:16px !Important;  }

h2.subtitle{ font-size: 16px !important; }
h4.subtitle{ font-size: 16px !important; }
h3.subtitle{ font-size: 14px !important; }

/*---Apr 16th shiva---*/
.fontsty_box
{
    background: #b2cda1;
    padding: 20px;
    color: #222;
    border:2px solid #222;
    min-height: 225px;
}  

.fontsty_box h3
{
    margin:0;
    color: #222;
} 
.fontsty_box h4
{
    color: #222;
    margin:15px 0;
}
.fontsty_box p
{
    margin:0
}
.selrad_box
{
    background:#ed8323;
    color: #222;
    padding: 5px 20px;
}
/*---Apr 16th shiva styles end here---*/

/* Apr 22 */
ul.tabs {
    display: inline-flex;
    list-style-type: none;
    position: relative;
    right: 48px;
}

/** 7-5-2019 **/
.menuview_vertical{
	
}
.menuview_vertical .menuviewsidenav{
	width: 25%;
    display: block;
    float: left;
	padding: 0px 20px;
}
.menuview_vertical .menuviewsidenav a{
	display: block;
    width: 100%;
    float: left;
    text-align: left;
    color: #000;
    font-size: 18px;
    line-height: 30px;
}
.menuview_vertical .menuviewmain{
	width: 75%;
    display: block;
    float: left;
    padding: 0px 20px;
}
.menuvietitle{
	float: left;
    font-size: 30px !important;
    margin-bottom: 30px !important;
    font-weight: 400;
}
.menuvietext{
	width:100%;
	float:left;
    display: block;
}
.menuview_horizontal{
	
}
.menuview_horizontal .menuviewsidenav{
	float: right;
}
.menuview_horizontal .menuviewsidenav a{
	display: block;
    float: left;
    font-size: 16px;
    color: #000;
    padding: 5px;
}
.fontsty_box hr{
	width:100%;
	clear:both;
}
.no-padding{
	padding:0px !Important;
}