
        {$artwork = $scope.artwork}
        
    	{$buttons = 1}


<!-- $_SESSION['searchObjtype']=$searchObj_data['obj_type'];
  $_SESSION['searchFiltesr']=$searchObj_data['filters'];
  $_SESSION['searchSearch']=$searchObj_data['search'];
  $_SESSION['searchOrder']=$searchObj_data['order'];
  $_SESSION['searchOffset']=$searchObj_data['offset'];
  $_SESSION['searchLimit']=$searchObj_data['limit']; -->



  <a href="{$list_link}?_pv=1&obj_type=artwork&search=art" class="btn btn-danger ajax-loader" id="back" data-target="#subview-container">Back
  	<input type="hidden" id="searchFilters" name="searchFiltesr" value='{$smarty.session.searchFilters}'>
  	<input type="hidden" id="searchSearch" name="searchSearch" value={$smarty.session.searchSearch}">
  	<input type="hidden" id="searchOrder" name="searchOrder" value="{$smarty.session.searchOrder}">
  	<input type="hidden" id="searchOffset" name="searchOffset" value="{$smarty.session.searchOffset}">
  	<input type="hidden" id="searchLimit" name="searchLimit" value="{$smarty.session.searchLimit}">
  </a>

        <div class="row form-group">
          <label for="media-name">Title Image</label>
          <a data-toggle="tooltip" data-placement="right" title="Select the main image to represent the artwork"> <i class="fa fa-info-circle"></i></a>
          {"artwork"|object_uploader:$artwork.id:"title_image":["resize" => 1, "cloud" => 1, "view" => "list"]}
        </div>
<script type="text/javascript">
	
	$(document).on("click", "#back", function() {  

   var searchFilters = $('#searchFilters').val();
   var searchSearch = $('#searchSearch').val();
   var searchOrder = $('#searchOrder').val();
   var searchOffset = $('#searchOffset').val();
   var searchLimit = $('#searchLimit').val();
  $.ajax({ url: "/ajax.php?obj_type=" + obj_type,
                  type: "POST",
                  data: {
                  type : "artwork",
                  col: col,
                  data : value,
                  id : value1,
                  oper : "edit",
                 },
                  success:function(response_data_json) {
                    var value2='Hide Price';
                     $('#shows'+value1).hide();
                     if(value==0)       
                       value2="Hide Price";
                    if(value==1)       
                       value2="Show Price";
                    if(value==-1)       
                      value2="Price on enquiry";
                      $('.phide'+value1).text(value2);
                    $('.phide'+value1).show();

                  }
              });    
   
  });

</script>

<div class=""></div>