{$page_id = $scope.page_id}
{$userid = $scope.userid}

<ul class="nav nav-tabs">
	{if (($tab == 'artist') || ($tab == 'artistcontent') || ($tab == 'artistpagelayout') || ($tab == 'artistsecondpage') || ($tab == 'artistcolour'))}
	  <li {if (($tab == 'artistcontent') || ($tab == 'artist'))  }class="active"{/if}><a href="{$tab11_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_artist_content_link">Content</a></li>
	  <li {if ($tab == 'artistpagelayout')  }class="active"{/if}><a href="{$tab13_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_artist_page_link">Page Layout</a></li>
	  <li {if ($tab == 'artistsecondpage')  }class="active"{/if}><a href="{$tab26_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_artist_2_link">Profile Template</a></li>
	  <li {if ($tab == 'artistcolour')  }class="active"{/if}><a href="{$tab12_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_artist_colour_link">Background Colour</a></li>

	{elseif (($tab == 'exhibition') || ($tab == 'exhibitioncontent') || ($tab == 'exhibitioncolour') || ($tab == 'exhibitionpage') || ($tab == 'exhibitionlayout') )}
	  <li {if (($tab == 'exhibitioncontent') || ($tab == 'exhibition')) }class="active"{/if}><a href="{$tab14_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_exhibition_content_link">Content</a></li>
	  <li {if ($tab == 'exhibitionpage') }class="active"{/if}><a href="{$tab21_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_exhibition_page_link">Page Layout</a></li>
	  <li {if ($tab == 'exhibitionlayout') }class="active"{/if}><a href="{$tab22_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_exhibition_layout_link">Exhibition Template</a></li>
	  <li {if ($tab == 'exhibitioncolour')  }class="active"{/if}><a href="{$tab15_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_exhibition_colour_link">Background Colour</a></li>

	{elseif (($tab == 'manualexb') || ($tab == 'manualexbcontent') || ($tab == 'manualexbpage') || ($tab == 'manualexblayout') )}
	  <li {if (($tab == 'manualexb') || ($tab == 'manualexbcontent') )}class="active"{/if}><a href="{$tab32_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_manualexbcontent_link">Content</a></li>
	  <li {if ($tab == 'manualexbpage') }class="active"{/if}><a href="{$tab33_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_manualexbpage_link">Page Layout</a></li>
	  <li {if ($tab == 'manualexblayout') }class="active"{/if}><a href="{$tab34_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_manualexblayout_link">Exhibition Template</a></li>

	{elseif (($tab == 'contact') || ($tab == 'contactcontent') || ($tab == 'contactcolour') || ($tab == 'contactpagelayout') )}
	  <li {if (($tab == 'contactcontent') || ($tab == 'contact')) }class="active"{/if}><a href="{$tab16_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_contact_content_link">Content</a></li>
	  <li {if ($tab == 'contactpagelayout') }class="active"{/if}><a href="{$tab18_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_contact_layout_link">Contact Template</a></li>
	  <li {if ($tab == 'contactcolour')  }class="active"{/if}><a href="{$tab17_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_contact_colour_link">Background Colour</a></li>

	{elseif (($tab == 'bio') || ($tab == 'biocontent') || ($tab == 'biocolour') || ($tab == 'biolayout'))}
	  <li {if (($tab == 'biocontent') || ($tab == 'bio')) }class="active"{/if}><a href="{$tab23_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_bio_content_link">Content</a></li>
	  <li {if ($tab == 'biolayout') }class="active"{/if}><a href="{$tab24_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_bio_layout_link">Profile Template</a></li>
	  <li {if ($tab == 'biocolour')  }class="active"{/if}><a href="{$tab25_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_bio_colour_link">Background Colour</a></li>

	{elseif (($tab == 'singleExhibition') || ($tab == 'singleExhibitioncontent') || ($tab == 'singleExhibitionLayout') || ($tab == 'singleExhibitioncolor') )}
	  <li {if (($tab == 'singleExhibition') || ($tab == 'singleExhibitioncontent')) }class="active"{/if}><a href="{$tab27_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_single_content_link">Content</a></li>
	  <li {if ($tab == 'singleExhibitionLayout') }class="active"{/if}><a href="{$tab28_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_single_layout_link">Exhibition Template</a></li>
	  <li {if ($tab == 'singleExhibitioncolor') }class="active"{/if}><a href="{$tab29_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_single_colour_link">Background Colour</a></li>

	{/if}
</ul>

<script type="text/javascript">
	$(document).ready(function() {
		hidetabs();
		show_tabs('{$tab}');
	});
</script>