     <form class="ajax-submit" data-handler="save-minisite-basic">
        <input hidden="1" name="id" type="hidden" value="{$minisite.id|default:$id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$minisite.id|default:$id}" class="obj_id">
        <input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">  
        <input hidden="1" name="next_tab" type="hidden" value="styling"> 

          <div class="col-sm-12">
            <label for="HEADER">HEADER</label>
            <table cellspacing="2"> 
              <tr style="height: 15px;"/>
              <tr>
                <td style= "width:200px">
                  <label for="Title">Site Title</label>
                </td>
                <td width="20%">
                  <div class="input-group">
                    <input name='show_title' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.show_title)}checked{/if} class="bootstrap-toggle" value="1" name="show_title" id="name">
                  </div>
                </td>
                <td >
                  <div class="input-group">
                    <input name="name" id="name" class="form-control" value="{$minisite.name}" type="text" /> 
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
              <tr>
                <td style= "width:200px">
                  <label for="Sub title">Site Sub Title</label>
                </td>
                <td width="20%">
                  <div class="input-group">
                    <input name='show_subtitle' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.show_subtitle)}checked{/if} class="bootstrap-toggle" value="1" name="show_subtitle" id="sub_title">
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input name="sub_title" id="sub_title" class="form-control" value="{$minisite.sub_title}" type="text" />
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
              <tr style="height: 15px;"/>
            </table>
          </div>

          <div class="col-sm-12">
            <label for="media-name">Icon</label>
            <a data-toggle="tooltip" data-placement="right" title="Select the main image to represent the artwork"> <i class="fa fa-info-circle"></i></a>
            {"minisite"|object_uploader:$minisite.id:"logo":["resize" => 1, "cloud" => 1, "view" => "list", "allow_multiple" => 0]}
          </div>
          <div class="col-sm-12">
            <table cellspacing="2"> 
              <tr>
                <td style= "width:200px">
                  <label for="footer">Icon Size </label>
                </td>
                <td style= "width:100px">
                  <div class="input-group">
                    <input type="radio" class="icon_type" name="icon_type" value="1" {if ($minisite.icon_size == 1)} checked {/if} required > Automatic
                  </div>
                </td>
                <td >
                  <div class="input-group">
                    <input type="radio" class="icon_type" name="icon_type" value="2" {if ($minisite.icon_size != 1)} checked {/if} required > Manual
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
            </table>
          </div>
          <div class="col-sm-12">
            <table cellspacing="2">
               <tr class="icon_size">
                 <td style= "width:200px">
                   <label for="footer">Icon Size - Manual Control</label>
                 </td>
                 <td style= "width:200px">
                    <input type="range" name="icon_size" min="10" max="50" step="10" class="icon_range" value="{$minisite.icon_size}">
                 </td>
               </tr>
               <tr style="height: 15px;"/>
               <tr style="height: 15px;"/>
            </table>
          </div>

          <div class="col-sm-12">
            <label for="FOOTER">FOOTER</label>
            <table cellspacing="2"> 
              <tr style="height: 15px;"/>
              <tr>
                <td style= "width:200px">
                  <label for="footer">Footer Text</label>
                </td>
                <td >
                  <div class="input-group">
                    <input name="footer" id="footer" class="form-control" value="{$minisite.footer}" type="text" /> 
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
              <tr>
                <td style= "width:200px">
                  <label for="Social Media">Follow on Social Media</label>
                </td>
                <td width="20%">
                  <div class="input-group">
                    <input name='show_social' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.show_social)}checked{/if} class="bootstrap-toggle" value="1" name="show_social" id="">
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#gbe_profile_dialog">Edit Details on Profile Page</button>
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
              <tr>
                <td >
                  <label for="Opening">Opening Times</label>
                </td>
                <td width="20%">
                  <div class="input-group">
                    <input name='show_timing' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.show_timing)}checked{/if} class="bootstrap-toggle" value="1" name="show_timing" id="">
                  </div>
                </td>
                <td >
                  <div class="input-group" >
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#gbe_profile_dialog"> Edit Details on Profile Page</button>
                  </div>
                </td>
              </tr>
              <tr style="height: 15px;"/>
              <tr style="height: 15px;"/>
            </table>
          </div>
          <div class="row">
            <div class="form-group col-sm-10">
              <label for="SEARCH">SEARCH ENGINE OPTIMIZATION</label><br>
              <label for="description">Site description</label>
                <textarea class="summernote form-control special" data-height="50" name="description"></textarea>
                Will be visible in search results on Google etc. It will not be displayed on your site. We recommend a text with 140-160 characters.
            </div>
            <div class="form-group col-sm-4">
              <label for="Domain Name">Domain Name</label><br>
              <input name="domain" id="domain" class="form-control" value="{$minisite.domain}" type="text" /> 
            </div>
            <!-- <div class="form-group col-sm-4">
              <label for="Domain Name">URL on vpatina.com</label><br>
              <input name="url" id="url" class="form-control" value="{$minisite.url}" type="text" disabled/> 
            </div> -->
          </div> 
          <input type="submit" class="btn btn-success" value="Save" id="submit">
      </form>
      {{"include": "_gallery-backend-website-profile-dialog.html"}}

<script type="text/javascript">
  $("#gbe_artist_link").hide();
  $("#gbe_exhibition_link").hide();
  $("#gbe_singleExhibition_link").hide();
  $("#gbe_contact_link").hide();
  $("#gbe_bio_link").hide();

  $(document).ready(function(){
    var icon_type = $("input[name='icon_type']:checked").val();
    if(icon_type == 1){
      $(".icon_size").hide();
    }else{
      $(".icon_size").show();
    }
  });  

  $(document).on("change", '.icon_range, .icon_type', function(){
    var icon_type = $("input[name='icon_type']:checked").val();
    var obj_id = $(".obj_id").val();
    if(icon_type == 1){
      $(".icon_size").hide();
      var range = 1;
    }else{
      $(".icon_size").show();
      var range = $(".icon_range").val()
    }
    $.ajax({
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-basic",
        icon_size: range,
        obj_id: obj_id,
        obj_type: "minisite"
      },     
    });
  });

  /*$(document).on("change", '.icon_range', function(){
    var range = $(this).val();
    var obj_id = $(".obj_id").val();
    if(range){
      $.ajax({
        url: "/ajax.php",
        dataType: "json",
        data: {
          oper: "save-minisite-basic",
          icon_size: range,
          obj_id: obj_id,
          obj_type: "minisite"
        },     
      });
    }

  });*/

</script>

<!-- <script type="text/javascript">
  $(document).ready(function() {
    var max_fields = 20; //maximum input boxes allowed
    var wrapper = $("#wrapper"); //Fields wrapper
    var add = $(".add"); //Add button ID
   
     
    var x = 1; //initlal text box count
    $(add).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(wrapper).append('<div id="newadd"><table class= "table table-hover"><td><input type="text" class="form-control" name="title" value="{$collection.title}" maxlength="100"></td><td><input type="text" class="form-control" name="title" value="{$collection.title}" maxlength="100"></td><td><button type="button" class="remove btn btn-danger">x</button></td></table></div>'); //add input box
      }
    });

    //Remove button ID
   
     $('#wrapper').on('click','.remove', function(e){ //user click on remove field
      $('#newadd').remove(); 
       x--; 
    });
  });
</script>  -->    