{$getpv = $scope.getpv}
{$site_id = $scope.site_id}
{$page_id = $scope.page_id}

  {$tab1_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'basic']}
  {$tab2_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'about']}
  {$tab3_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artist']}
  {$tab4_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'art']}
  {$tab5_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'details']}
  {$tab6_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'curator']}
  {$tab7_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'collector']}
  <!-- subtabs -->
  {$tab9_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'solo']}
  {$tab10_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'group']}
  {$tab11_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'press']}
  {$tab12_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'awards']}
  {$tab13_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'freetext']}
  {$tab14_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'delete']}
  
  {$tab = $page.tab|default:'basic'}

  <ul class="nav nav-tabs">
    <li {if ($tab == 'basic')  }class="active"{/if}><a {if ($getpv)} href= "{$tab1_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab1_link}?_pv=1" {/if}  class="ajax-loader" data-target="#subview-container" id="gbe_basic_link">Basic<span class="glyphicon icon-asterisk"></span></a></li>
    <li {if ($tab == 'about') }class="active"{/if}><a {if ($getpv)} href= "{$tab2_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab2_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_about_link">Bio/Photo<span class="glyphicon icon-asterisk"></span></a></li>
    <li {if ($tab == 'artist') }class="active"{/if}><a {if ($getpv)} href= "{$tab3_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab3_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_cv_link">CV</a></li>
    
    {if (($scope.user.roles != 128) && ($scope.user.roles != 256))}
      <li {if ($tab == 'details') }class="active"{/if}><a {if ($getpv)} href= "{$tab5_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab5_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_profile_details_link">Details</a></li>
    {/if}

    {if ($scope.user|has_role:$smarty.const.USER_ROLE_ARTIST)}
      <li {if ($tab == 'art') }class="active"{/if}><a {if ($getpv)} href= "{$tab4_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab4_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_art_link">Selected Art</a></li>
    {/if}
    
    {if ($scope.user|has_role:$smarty.const.smarty.const.USER_ROLE_CURATOR)}
      <li {if ($tab == 'curator') }class="active"{/if}><a {if ($getpv)} href= "{$tab6_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab6_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_curator_link">Curator</a></li>
    {/if}

    {if ($scope.user|has_role:$smarty.const.smarty.const.smarty.const.USER_ROLE_COLLECTOR)}
      <li {if ($tab == 'collector') }class="active"{/if}><a {if ($getpv)} href= "{$tab7_link}?_pv=viewartistpage&site_id={$site_id}&page_id={$page_id}&user_id={$scope.obj_id}" {else} href= "{$tab7_link}?_pv=1" {/if} class="ajax-loader" data-target="#subview-container" id="gbe_collector_link">Collector</a></li>
    {/if}
    {if ($scope.u_id != $scope.user.id)}
      <li {if ($tab == 'delete') }class="active"{/if}><a href= "{$tab14_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_delete_link">Delete</a></li>
    {/if}
  </ul>
  
  <div class="tab-content">
    <div id="tab_content" class="tab-pane fade in active pt20">       
    {if ($tab == 'basic')}
      {{"include": "_user-profile-edit-settings.html"}}    
    {elseif ($tab == 'about')}
      {{"include": "_user-profile-edit-overview.html"}}    
    {elseif ($tab == 'artist')}
      {{"include": "_gallery-backend-profile-solo.html"}} 
    {elseif ($tab == 'art')}
      {{"include": "_user-profile-edit-art.html"}} 
    {elseif ($tab == 'details')}
      {{"include": "_user-profile-edit-details.html"}}     
    {elseif ($tab == 'curator')}
      {{"include": "_user-profile-edit-gallery.html"}}    
    {elseif ($tab == 'collector')}
      {{"include": "_user-profile-edit-collector.html"}}    
    {elseif ($tab == 'solo')}
      {{"include": "_gallery-backend-profile-solo.html"}}    
    {elseif ($tab == 'group')}
      {{"include": "_gallery-backend-profile-group.html"}}    
    {elseif ($tab == 'press')}
      {{"include": "_gallery-backend-profile-press.html"}}    
    {elseif ($tab == 'awards')}
      {{"include": "_gallery-backend-profile-awards.html"}}  
    {elseif ($tab == 'freetext')}
      {{"include": "_gallery-backend-profile-freetext.html"}}
    {elseif ($tab == 'delete')}
      {{"include": "_gallery-backend-profile-delete-artist.html"}}   
     
    {else}
      {"Unknown tab `$tab`"|alert:"error"}
    {/if}    
    </div>
  </div>
