{$what = 'artwork'}
{$plural = 'artworks'}

{$form = "_gallery-backend-artwork-form.html"}
{{"extend": "_gallery-backend-list-base.html"}}

<style>
    element.style {
        width: 500px !important;
    }
    th-inner sortable both{
       width: 118px !important;
    }
</style>
{block name=main}  
  <div class="row">
    <div class="col-sm-5">
      <span>
        1. Green  “Create Artworks” button  adds  new artwork <br>
        2.  Search  bar helps quickly find  artworks  <br>
        3.  Check box next  to  artworks  to  delete/attach  to  exhibitions  <br>
        4.  Orange  “Eye” icon  previews  artworks  <br> 
      </span>
    </div>
    <div class="col-sm-6">
      <span>
        5.  Green Pencil icon allows  you to  edit  art  <br> 
        6.  Orange “Clone” icon duplicates  an  art record <br> 
        7.  “Download Records”  button  exports your  records to  xls, cvs etc. 
      </span>  
    </div>
  </div>
  <div class="mt20">
      <a href="https://vimeo.com/387398124" class="btn btn-info button-large popup-iframe" data-effect="mfp-fade"><i class="fa fa-play-circle"></i>Artwork Table Tutorial</a>
  </div>
{/block}

{block name="fields"}
  <th data-field="sno" data-formatter="bstSnoFormatter">S.No</th>
  <th data-field="state" data-checkbox="true">Check</th>
  <th data-field="actions" data-formatter="bstCloneActionFormatter">Actions</th>
  <!--th data-field="id" data-sortable="true" data-formatter="bstIDFormatter">ID</th-->
  <th data-field="title_image" data-formatter="bstTitleImageFormatter">Image</th>
  <th data-field="title" data-sortable="true" data-formatter="bstTitleArtistFormatter">Title</th>
  <!-- <th data-field="created" data-sortable="true" data-formatter="bstDateFormatter">Created</th> -->
  <th data-field="artist_id" data-sortable="true" data-formatter="bstArtistFormatter">Artist</th>
  <!-- <th data-field="primary_year" data-sortable="true" data-formatter="bstYearFormatter">Year</th>
  <th data-field="technique" data-sortable="true" data-formatter="bstTechniqueFormatter">Technique</th>
  <th data-field="type" data-filter-control="select" data-formatter="bstArtworkTypeFormatter" data-filter-data="var:type">Category</th>
  <th data-field="height" data-sortable="true" data-formatter="bstHeightFormatter">Height</th>
  <th data-field="width" data-sortable="true" data-formatter="bstWidthFormatter">Width</th>
  <th style="width:5px" data-field="price" data-sortable="true" data-formatter= "bstPriceFormatter" >Price</th>
  <th data-field="price_option" data-filter-control="select" data-formatter= "bstPriceOptionFormatter" data-filter-data="var:price_option">&nbsp Price Option&nbsp&nbsp&nbsp&nbsp</th> 
  <th data-field="status" data-filter-control="select" data-formatter="bstArtworkStatusFormatter"  data-filter-data="var:state">&nbsp&nbsp&nbsp&nbsp Status &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>        -->

<script type="text/javascript">
    
  var price_option = {
    "0": "Hide Price",
    "1": "Show Price",
    "-1": "Price on enquiry"
  };
  var type = {
    "10": "Photography",
    "20": "Painting",
    "30": "Sculpture",
    "40": "Cast (Bronze, etc)",
    "50": "Film & Video",
    "60": "Installation",
    "11": "Print",
    "99": "Other",
    "21": "Drawing",
    "22": "Mixed Media on paper/canvas",
    "70": " Performance"
  };
  var state = {
    "10": "Available",
    "20": "Reserved",
    "30": "Sold",
    "40": "Inactive",
    "50": "On loan, etc.",
  };

        //  aoColumns : [
        //   { "sWidth": "100px"},
        //   { "sWidth": "100px"},
        //   { "sWidth": "100px"},
        //   { "sWidth": "100px"},
        //   { "sWidth": "100px"}
        // ]
</script>
       
{/block}




