{*dump($items)*}
{$count = $items|@count}

<div class="grid grid-isotope" id="grid-isotope-showroom">
	{foreach from=$items item=collection}
		{{"include": "_gallery-showroom-item.html"}}
	{/foreach}
</div>

<!-- <script type="text/javascript" src="/afr/js/jquery.min.js"></script> -->
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js'></script>
<script>
$(document).ready(function(){
	$('.grid-isotope').isotope({
	  itemSelector: '.grid-item',
	  masonry: {
	  }
	});
});
</script>-->
                      

