{$what = 'exhibition'}
{$plural = 'exhibitions'}
{{"extend": "_gallery-backend-list-base.html"}}


{block name="fields"}
  <th data-formatter="bstSnoFormatter" >S.No</th>
  <th data-field="state" data-checkbox="true">Check</th>
  {if ($shared_status == 0)}
  <th data-field="actions" data-formatter="bstCollectionActionFormatter">Actions</th>
  {/if}
  <!--th data-field="id" data-sortable="true" data-formatter="bstIDFormatter">ID</th-->
  <th data-field="title_image" data-formatter="bstTitleImageFormatter">Image</th>
  {if ($shared_status == 0)}
  <th data-field="title" data-sortable="true" data-formatter="bstTitleFormatter">Title</th>
  <th data-field="artist_id" data-sortable="true" data-formatter="bstArtistFormatter">Artist</th>
  {elseif ($shared_status == 1)}
  <th data-field="title">Title</th>
  <th data-field="artist_id" data-sortable="true" data-formatter="bstArtistFormatter1">Shared by</th>
  {/if}
  {if ($shared_status == 0)}
  <th data-field="created" data-sortable="true" data-formatter="bstDateFormatter">Created</th>
  <th data-field="subtype" data-sortable="true" data-formatter="bstCollectionSubtypeFormatter" data-filter-control="select" data-filter-data="var:subtype">Type</th>
  <th data-field="start_date" data-sortable="true"  data-formatter="bstStartDateFormatter" class="start_date">Start</th>
  <th data-field="end_date" data-sortable="true" data-formatter="bstEndDateFormatter" class="end_date">End</th> 
  <!-- <th data-field="exhibition_sequence" data-sortable="true" data-formatter="exhibitionSequence">Exhibition Sequence</th> -->
  <th data-field="location" data-sortable="true" data-formatter="bstLocationFormatter">Location</th> 
  <th data-field="active" data-sortable="true" data-formatter="bstPublishedFormatter" data-filter-control="select" data-filter-data="var:active">Published</th>
  {elseif ($shared_status == 1)}
  <th data-field="active" data-sortable="true" data-formatter="bstPublishedFormatter1" data-filter-control="select" data-filter-data="var:active">Published</th>
  {/if}

<script type="text/javascript">
  var subtype = {
    "10": "Gallery",
    "20": "Art Fair",
    "30": "Other Event",
    "40": "Selection",
    "50": "Private Link"
  };

  var active = {
    "1": "ON",
    "0": "OFF"
  };
  var sactive = {
    "1": "ON",
    "0": "OFF"
  };
</script>

{/block}
