      <form class="ajax-submit" data-handler="save-minisite">
        <input hidden="1" name="id" type="hidden" value="{$scope.obj_id}">
        <input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">      
                
        {$layout = ['', 'Menu on Top Logo top Right', 'Menu on Top Logo top Left', 'Menu on Left Logo top Left']}
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="minisite-layout-structure">Layout Structure</label>
              <select class="form-control auto-select" id="layout-structure" name="layout-structure" data-default="Menu on Top Logo top Right" data-value="{$minisite.layout|default:'Menu on Top Logo top Right'}">
                {foreach from=$layout item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <label for="media-name">Domain Name</label>
                <input type="text" class="form-control" name="title" value="" maxlength="100">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="media-name">Site Title</label>
              <input type="text" class="form-control" name="title" value="" maxlength="100">
              Shown in header and title pages
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="description">Site Description</label>
              <textarea class="summernote form-control special" data-height="50" name="description"></textarea>
              Will be visible in search results on Google etc. It will not be displayed on your site. We recommend a text with 140-160 characters.
            </div>
          </div>
          <!-- <div class="row">
            <div class="form-group col-sm-12">
              <label for="description">Comments</label>
              <textarea class="summernote form-control special" data-height="50" name="description"></textarea>
            </div>
          </div> -->
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="media-name">Page Footer</label>
              <input type="text" class="form-control" name="title" value="" maxlength="100">
              Shown in header and title pages
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="media-name">Icon</label>
              <a data-toggle="tooltip" data-placement="right"> <i class="fa fa-info-circle"></i></a>
              {"minisite"|object_uploader:$artwork.id:"title_image":["resize" => 1, "cloud" => 1, "view" => "list"]}
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="minisite-layout-structure">Social Media Link</label>
              <div id="wrapper">
                <table class= "table table-hover">
                  <td><input type="text" class="form-control" name="title" value="" maxlength="100"></td>
                  <td><input type="text" class="form-control" name="title" value="" maxlength="100"></td>
                  <td><button type="button" class="add btn btn-success">+</button></td>
                </table>
              </div>
            </div>
          </div>
          <input type="submit" class="btn btn-success" value="Save" id="submit">
      </form>

<script type="text/javascript">
  $(document).ready(function() {
    var max_fields = 20; //maximum input boxes allowed
    var wrapper = $("#wrapper"); //Fields wrapper
    var add = $(".add"); //Add button ID
   
     
    var x = 1; //initlal text box count
    $(add).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(wrapper).append('<div id="newadd"><table class= "table table-hover"><td><input type="text" class="form-control" name="title" value="{$collection.title}" maxlength="100"></td><td><input type="text" class="form-control" name="title" value="{$collection.title}" maxlength="100"></td><td><button type="button" class="remove btn btn-danger">x</button></td></table></div>'); //add input box
      }
    });

    //Remove button ID
   
     $('#wrapper').on('click','.remove', function(e){ //user click on remove field
      $('#newadd').remove(); 
       x--; 
    });
  });
</script>     