{$page_id = $scope.page_id}
{$userid = $scope.userid}
  {$tab1_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'page']}
  <!-- {$tab2_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'home']} -->
  {$tab3_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artist']}
  {$tab4_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exhibition']}
  {$tab36_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'manualexb']}
  {$tab5_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'contact']}
  {$tab6_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'basic']}
  {$tab7_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'styling']}
  
  {$tab8_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'settings']}
  {$tab9_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'font']}
  {$tab10_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'menu']}

  {$tab11_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artistcontent']}
  {$tab12_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artistcolour']}
  {$tab13_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artistpagelayout']}
  {$tab26_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artistsecondpage']}

  {$tab14_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exhibitioncontent']}
  {$tab15_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exhibitioncolour']}
  {$tab21_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exhibitionpage']}
  {$tab22_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exhibitionlayout']}

  {$tab16_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'contactcontent']}
  {$tab17_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'contactcolour']}
  {$tab18_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'contactpagelayout']}

  {$tab20_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'bio']}
  {$tab23_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'biocontent']}
  {$tab24_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'biolayout']}
  {$tab25_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'biocolour']}

  {$tab27_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'singleExhibition']}
  {$tab28_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'singleExhibitionLayout']}
  {$tab29_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'singleExhibitioncolor']}

  {$tab30_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'extSite']}
  {$tab31_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'extMail']}

  {$tab32_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'manualexbcontent']}
  {$tab33_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'manualexbpage']}
  {$tab34_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'manualexblayout']}
  {$tab35_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'manualexbcolour']}

  {$tab37_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'hover']}
  {$tab38_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'exbHover']}
  {$tab39_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'artHover']}

  {$tab40_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'domain']}
  {$tab41_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'extlink']}
  {$tab42_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'prewebsite']}

  {$tab = $page.tab|default:'basic'}

  <ul class="nav nav-tabs">
    <li {if ($tab == 'basic') }class="active"{/if}><a href="{$tab6_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_basic_link">Basic</a></li>
    <li {if ($tab == 'menu') }class="active"{/if}><a href="{$tab10_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_font_link">Menu Template</a></li>
    <li {if ($tab == 'font') }class="active"{/if}><a href="{$tab9_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_font_link">Font</a></li>

    <li {if (($tab == 'hover') || ($tab == 'exbHover') || ($tab == 'artHover') ) }class="active"{/if}><a href="{$tab37_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_hover_link"> Animations/Effect </a></li>


    <li {if ($tab == 'page')  }class="active"{/if}><a href="{$tab1_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_page_link">Pages</a></li>
    <!-- <li {if ($tab == 'home')  }class="active"{/if}><a href="{$tab2_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_home_link">Home</a></li> -->
    <li {if (($tab == 'artist') || ($tab == 'artistcontent') || ($tab == 'artistcolour') || ($tab == 'artistpagelayout') || ($tab == 'artistsecondpage'))  }class="active"{/if}><a href="{$tab3_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_artist_link">Showcase Managed Profiles</a></li>    <!-- Artist -->

    <li {if (($tab == 'exhibition') || ($tab == 'exhibitioncontent') || ($tab == 'exhibitioncolour') || ($tab == 'exhibitionpage') || ($tab == 'exhibitionlayout'))}class="active"{/if}><a href="{$tab4_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_exhibition_link">Multiple Exhibitions - Smart Filter</a></li>  <!-- exhibition -->

    <li {if ($tab == 'contact')  || ($tab == 'contactcontent') || ($tab == 'contactcolour') || ($tab == 'contactpagelayout') }class="active"{/if}><a href="{$tab5_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_contact_link">Contact Page</a></li>

    <li {if ($tab == 'bio')  || ($tab == 'biocontent') || ($tab == 'biocolour') || ($tab == 'biolayout') } class="active"{/if}><a href="{$tab20_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_bio_link">Showcase User Profile</a></li>   <!-- bio -->
    <li {if ($tab == 'singleExhibition')  || ($tab == 'singleExhibitioncontent') || ($tab == 'singleExhibitionLayout') || ($tab == 'singleExhibitioncolor') } class="active"{/if}><a href="{$tab27_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_singleExhibition_link">Single Exhibition - Smart Filter</a></li> <!-- Single page exhibition -->

    <li {if (($tab == 'manualexb') || ($tab == 'manualexbcontent') || ($tab == 'manualexbpage') || ($tab == 'manualexblayout'))}class="active"{/if}><a href="{$tab36_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_manualexb_link">Exhibitions - Manually selected</a></li>  <!-- exhibition - Manually selected-->

    <li {if ($tab == 'extSite') } class="active"{/if}><a href="{$tab30_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_extSite_link">External Site (iframe)</a></li> <!-- Single page exhibition -->
    <li {if ($tab == 'extMail') } class="active"{/if}><a href="{$tab31_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_extMail_link">Mail Form</a></li> <!-- Single page exhibition -->

    <li {if ($tab == 'extlink') } class="active"{/if}><a href="{$tab41_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_extlink">External Link</a></li> <!-- Single page exhibition -->

    <li {if ($tab == 'prewebsite') } class="active"{/if}><a href="{$tab42_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_prewebsite_link">Preview Website</a></li> <!-- Preview Webiste -->

    <li {if ($tab == 'domain') } class="active"{/if}><a href="{$tab40_link}?_pv=1&page_id={$page_id}&user_id={$userid}" class="ajax-loader" data-target="#subview-container" id="gbe_domain_link">Domain Connection/SEO</a></li> <!-- Domain connection -->

    <!--<li {if ($tab == 'styling') }class="active"{/if}><a href="{$tab7_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_styling_link">styling</a></li>
    
    <li {if ($tab == 'settings')}class="active"{/if}><a href="{$tab8_link}?_pv=1" class="ajax-loader" data-target="#subview-container" id="gbe_settings_link">Settings</a></li> -->
  </ul>
  
  <div class="tab-content">
    <div id="tab_content" class="tab-pane fade in active pt20">       
    {if ($tab == 'page')}
      {{"include": "_gallery-backend-website-pages-form.html"}}
    <!-- {elseif ($tab == 'home')}
      {{"include": "_gallery-backend-website-home-form.html"}} --> 
    {elseif ($tab == 'artist')}
      {{"include": "_gallery-backend-website-artist-form.html"}} 
    {elseif ($tab == 'exhibition')}
      {{"include": "_gallery-backend-website-exhibition-form.html"}} 
    {elseif ($tab == 'manualexb')}
      {{"include": "_gallery-backend-website-manualexb-form.html"}}
    {elseif ($tab == 'contact')}
      {{"include": "_gallery-backend-website-contact-form.html"}}
    {elseif ($tab == 'bio')}
      {{"include": "_gallery-backend-website-bio-form.html"}}
    
    {elseif ($tab == 'basic')}
      {{"include": "_gallery-backend-website-layout-form.html"}}
    {elseif ($tab == 'styling')}
      {{"include": "_gallery-backend-website-appearance-form.html"}}            
    {elseif ($tab == 'settings')}
      {{"include": "_gallery-backend-website-settings-form.html"}}
    {elseif ($tab == 'font')}
      {{"include": "_gallery-backend-website-font-form.html"}} 
    {elseif ($tab == 'menu')}
      {{"include": "_gallery-backend-website-menu-form.html"}}
    {elseif ($tab == 'hover')}
      {{"include": "_gallery-backend-website-hover-form.html"}}
    {elseif ($tab == 'exbHover')}
      {{"include": "_gallery-backend-website-hover-form.html"}}
    {elseif ($tab == 'artHover')}
      {{"include": "_gallery-backend-website-art-hover-form.html"}}
    {elseif ($tab == 'prewebsite')}
    <!------------------Vignesh 01-06-2020 --------------------------->
      <style>
        #gbe_artist_link{
          display:none;
        }
        #gbe_exhibition_link{
          display:none;
        }
        #gbe_contact_link{
          display:none;
        }
        #gbe_bio_link{
          display:none;
        }
        #gbe_singleExhibition_link{
          display:none;
        }
        #gbe_manualexb_link{
          display:none;
        }
        #gbe_extSite_link{
          display:none;
        }
        #gbe_extMail_link{
          display:none;
        }
        #gbe_extlink{
          display:none;
        }
      </style> 
      <!--<ul class="list inline-list">
        <li><a href="/backend/website/1111?_pv=1" class="btn btn-primary ajax-loader" data-target="#subview-container"><i class="fa fa-eye"></i> Preview</a></li>
        <li>
      <h3 class="inline" style="position:relative;top:10px;left:10px">Edit website</h3>
    </li>
    <li>
        <h3 class="inline" style="position:relative;top:10px;left:10px"><a href="{$scope.url}"> - {$scope.site_title}</a></h3>
      </li>
    </ul><br><br>-->
    <!------------------Vignesh 02-06-2020 --------------------------->
    <div class="row">
    <div class="col-sm-12">
      <h4>Trouble shooting tips if a page is not displaying any exhibitions/art</h4>
      <span> 
        1. Make sure your exhibitions are published/ turned on <br>
        2. Check you have selected exhibitions for the page<br>
        3. Check you have selected a layout/ template for that page<br>
      </span>
        </div>
      </div><br>
      <!---------------------------------End 02-06-2020--------------------------->
      <iframe id="minisite_preview" class="" width="100%" height="1200px" style="overflow:auto;background-color:#fff" scrolling="yes" src="{$scope.url}"></iframe>
      <!---------------------------------End 01-06-2020--------------------------->
    {elseif ($tab == 'domain')}
      {{"include": "_gallery-backend-website-domain-form.html"}}

    {elseif ($tab == 'artistcontent')}
      {{"include": "_gallery-backend-website-artist-form.html"}}
    {elseif ($tab == 'artistpagelayout')}
      {{"include": "_gallery-backend-website-artist-page-form.html"}}
    {elseif ($tab == 'artistsecondpage')}
      {{"include": "_gallery-backend-website-artist-layout-form.html"}}
    {elseif ($tab == 'artistcolour')}
      {{"include": "_gallery-backend-website-artist-colour-form.html"}}

    {elseif ($tab == 'manualexbcontent')}
      {{"include": "_gallery-backend-website-manualexb-form.html"}}
    {elseif ($tab == 'manualexbpage')}
      {{"include": "_gallery-backend-website-manualexb-page-form.html"}}
    {elseif ($tab == 'manualexblayout')}
      {{"include": "_gallery-backend-website-manualexb-layout-form.html"}}

    {elseif ($tab == 'exhibitioncontent')}
      {{"include": "_gallery-backend-website-exhibition-form.html"}}
    {elseif ($tab == 'exhibitionpage')}
      {{"include": "_gallery-backend-website-exhibition-page-form.html"}}
    {elseif ($tab == 'exhibitionlayout')}
      {{"include": "_gallery-backend-website-exhibition-layout-form.html"}}  
    {elseif ($tab == 'exhibitioncolour')}
      {{"include": "_gallery-backend-website-colour-form.html"}}

    {elseif ($tab == 'contactcontent')}
      {{"include": "_gallery-backend-website-contact-form.html"}}  
    {elseif ($tab == 'contactcolour')}
      {{"include": "_gallery-backend-website-contact-colour.html"}}     
    {elseif ($tab == 'contactpagelayout')}
      {{"include": "_gallery-backend-website-contact-layout.html"}} 

    {elseif ($tab == 'biocontent')}
      {{"include": "_gallery-backend-website-bio-form.html"}} 
    {elseif ($tab == 'biolayout')}
      {{"include": "_gallery-backend-website-bio-layout.html"}}
    {elseif ($tab == 'biocolour')}
      {{"include": "_gallery-backend-website-bio-colour.html"}}

    {elseif ($tab == 'singleExhibition')}
      {{"include": "_gallery-backend-website-single-exhibition-form.html"}}
    {elseif ($tab == 'singleExhibitioncontent')}
      {{"include": "_gallery-backend-website-single-exhibition-form.html"}}
    {elseif ($tab == 'singleExhibitionLayout')}
      {{"include": "_gallery-backend-website-single-exhibition-layout.html"}}
    {elseif ($tab == 'singleExhibitioncolor')}
      {{"include": "_gallery-backend-website-single-exhibition-colour.html"}}

    {elseif ($tab == 'extSite')}
      {{"include": "_gallery-backend-website-extsite.html"}}
    {elseif ($tab == 'extMail')}
      {{"include": "_gallery-backend-website-extmail.html"}}
    {elseif ($tab == 'extlink')}
      {{"include": "_gallery-backend-website-extlink.html"}}

    {else}
      {"Unknown tab `$tab`"|alert:"error"}
    {/if}    
    </div>


  </div>                                                        