{$what = 'Company'}
{$plural = 'companies'}

{$form = "_gallery-backend-company-form.html"}
{{"extend": "_gallery-backend-list-base.html"}}

{block name=main}  
{/block}

{block name="fields"}

<th data-field="state" data-checkbox="true">Check</th>
<th data-field="actions" data-formatter="bstCompanyEditFormatter">Actions</th>
<!--th data-field="id" data-sortable="true" data-formatter="bstIDFormatter">ID</th-->
<th data-field="name" data-sortable="true" data-formatter="bstNameFormatter">Name</th>
<th data-field="email" data-sortable="true" data-formatter="bstEmailFormatter">Email</th>
<th data-field="mobile" data-sortable="true" data-formatter="bstMobileFormatter">Mobile</th>
      
       
{/block}


