{$minisitepage = $scope.minisitepage}
{$obj_id = $scope.page_id}
{$data = json_decode($minisitepage.data)}

<div class="mt20">
  <a href="https://vimeo.com/362514664" class="btn btn-info button-large popup-iframe" data-effect="mfp-fade"><i class="fa fa-play-circle"></i>Embed Page Tutorial</a>
</div><br>

<form class="ajax-submit" data-handler="save-minisite-page">
  <input hidden="1" name="minisite_id" type="hidden" value="{$minisite.id|default:$id}">
  <input hidden="1" name="obj_id" class="obj_id" type="hidden" value="{$obj_id}">
  <input hidden="1" name="user_id" type="hidden" value="{$minisite.user_id}">
  <input hidden="1" name="obj_type" type="hidden" value="minisite_page">
    
  <div class="form-group">
    <div class="row">
      <div class="form-group col-sm-8">
        <label for="menu-title" class="control-label">Menu Title</label>
        <input type="text" class="form-control" maxlength="15" name="menu_title" value="{$minisitepage.menu_title}">
      </div>
      <div class="form-group col-sm-8">
        <label for="page-title">Page Title<span class="optional">(Optional)</span></label>
        <input type="text" class="form-control" maxlength="60" name="page_title" value="{$minisitepage.page_title}">
      </div>
      <div class="form-group col-sm-8">
        <label for="page-title" class="control-label">URL of the website you want to display on this page (ideal way to connect a web-shop to your site) <br>
        When entering URL remember to start with https://....</label>
        <input type="text" class="form-control" name="data" value="{$data[0]}">
      </div>
    </div>
    <div class="form-group col-sm-8">
      <input type="submit" class="btn btn-success" value="Save" >
    </div>
  </div>
  <div class="form-group col-sm-12">
    <p>Try copying and pasting this demo link into the page to see how it works https://luna0055.wixsite.com/demovpatinashop,</p>
    <p>This page  is  a simple  way to  add third party features, such  as  a web shop  or  video on  demand. It also  allows you to  connect to  partner,  for example if  you collaborate with  other artists or curators, BUT,  there are a two things  to  bear  in  mind. </p>
    <p>(i) External  websites  can block themselves  from  appearing via an  iframes on  your  site, so  you may need  to  fix the X-frame setting of  the site  you are linking (Wix  is  easy  to  link  to  and recommended if  you need  a web shop) </p>
    <p>(ii) If  you don’t own it, you must  have  written permission  of  the website you are linking to. Using our technology  to  miss  represent or  mislead people  is  prohibited. </p>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    <div class="layout_prtle">Page Preview</div>
    <iframe id="minisite_preview" class="" width="100%" height="1200px" style="overflow:auto;background-color:#fff" scrolling="yes" src="{$scope.url}{$minisitepage.slug}"></iframe>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    hidetabs();
    show_tabs('{$tab}');
  });

</script>

  