{$media = $scope.media}
{$tags = $scope.tags}
{$user_tags = $media.tags}
{if ($user_tags)}
  {$merge_tags = json_encode(array_merge($tags,json_decode($user_tags, true)))}
{else}
  {$merge_tags = json_encode($tags, true)}
{/if}

<form class="ajax-submit" data-handler="save-media" data-reload_link="#btnReload">
  <input hidden="1" name="obj_id" type="hidden" value="{$media.id}">
  <input hidden="1" name="obj_type" type="hidden" value="media">      
          
  {if ($add_to)}
  <input hidden="1" name="parent_type" type="hidden" value="media_collection">
  <input hidden="1" name="parent_id" type="hidden" value="{$add_to}">

  <div class="row form-group">
    <label for="media-name">Upload image</label>
    {"media_collection"|object_uploader:$add_to:"media":["resize" => 1, "cloud" => 1, "handler" => "collection_image_handler"]}
  </div>
  {/if}
  
  <div class="form-group col-sm-12">
    <h5 style="font-weight: bold;">{$media.filename}</h5> <br>
    <!-- <input type="text" class="form-control" name="name" value="{$media.filename}" maxlength="255"> -->
    <div class="form-group col-sm-8 no-padding">
      <label for="media-technique">Tags <a data-toggle="tooltip" data-placement="right" title="Type your text and click 'ENTER' to add new tags."> <i class="fa fa-info-circle"></i></a></label>
      <input type="text" class="form-control" id="magicsuggest" name="tags">
    </div>
  </div>
  
  <input type="submit" class="btn btn-success" value="Save">
</form>
<div class="gap gap-small"></div>
<div class="col-sm-6">
  <img src="{$media.path}medium/{$media.filename}">   
</div>
<script type="text/javascript">
  $(function() {
      var ms = $('#magicsuggest').magicSuggest({
        allowFreeEntries: true,
        data: {$merge_tags}
      });
      ms.setValue({$media.tags});
  });
</script>