{$what = 'tutorial'}
{$plural = 'tutorial'}

{block name=subview_title}
  <h3>Tips & Tutorial</h3>
{/block}

{block name=main}
<style>
img{
	width:auto;
	max-width:100%;
}
.panel-title > a {
	display: block;
	position: relative;
}
.panel-title > a:after {
	content: "\f067"; /* fa-chevron-down */
	font-family: 'FontAwesome';
	position: absolute;
	right: 8px;
}
.panel-title > a[aria-expanded="true"]:after {
	content: "\f068"; /* fa-chevron-up */
}
.panel-image{
	width:600px;
	max-width:100%;
	display: block;
	float: none;
	margin: auto;
	overflow: hidden;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	padding:8px;
}
.panel-image img{
	max-width:100%;
}
iframe{
	max-width: 100%;
}
</style>
<div class="panel-group mt40" id="accordion1">
	<div class="panel panel-default"><!-- chapter heading-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Must Read Tips & Advice</a><!-- chapter heading beginning-->
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-body">
					<div class="panel-group" id="accordion21">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse1">Introduction: 4 Steps to Great Websites & Porfolios</a>
								</h4>
							</div>	
							<div id="sub1collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>The key is getting your portfolio and your story organized first - before creating your website and sharing your work. Doing things in the right order is the key to success.</p>

									<p>1. Create a great profile, which you use to tag art and exhibitions - (if you are a gallery or curators you can create multiple profiles - see other tutorials)</p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileBio.png" alt="Image" /></div></p>

									<br>

									<p>2. Create an art record- THEN - tag this record with images (allows you to switch which images you want to use for your artwork more easily</p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksImage.png" alt="Image" /></div></p>

									<br>

									<p>3. Create Exhibitions - THEN add the art in your portfolio to these exhibitions </p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionArt.png" alt="Image" /></div></p>

									<br>

									<p>4. Publish and share your Exhibitions art in a wide range of ways (apps, social media, websites)</p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse2">Key Buttons & Interactions</a>
								</h4>
							</div>	
							<div id="sub1collapse2" class="panel-collapse collapse">
								<div class="panel-body">

									<div class="panel-image"><iframe src="https://player.vimeo.com/video/337815438" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
									<p>Exhibitions are the way you curate and showcase interconnected artworks that you want to share and tell a story about.</p>

									<p>1. You must put art in an exhibition and PUBLISH it, before you can share it. CURATE!!</p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsPublish.png" alt="Image" /></div></p> 

									<br>

									<p>2. Make sure Art & Exhibitions are tagged with your name properly </p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

									<br>

									<p>3. Save Button. Use the SAVE button often, so your changes stick.</p> 

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Save.jpg" alt="Image" /></div></p>
									

									<br>

									<p>4. Watch Your File Size - Struggling to upload an image. Try reducing it’s size to below 1MB</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Tip_File_Size.png" alt="Image" /></div></p>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse3">How Profiles Work - if you are an Artist</a>
								</h4>
							</div>	
							<div id="sub1collapse3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>1. All artworks need to be tagged with the profile of the artist - YOU</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksBasicInfoTaggingName.png" alt="Image" /></div></p>
									<p>2. Your art can only be added to an exhibition if YOU are tagged as the artist in the exhibition</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

									<br>

									<p>3. Your CV in your App and Showroom is driven by your profile information</p> 

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Slide1.jpg" alt="Image" /></div></p>

									<br>

									<p>4. On your vPatina driven website, profile pages are also driven by your profile information</p> 
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse4">How Profiles Work - if you are a Curator/ Gallery</a>
								</h4>
							</div>	
							<div id="sub1collapse4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>1. On your App and in teh Showroom, your profile is automatically attached to exhibitions you create - giving you credit as a curator</p> 
									<p>2. You can also create and manage profiles of the artists you manage, so you can create artworks and exhibitons featuring them</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Profiles - Creating & Using</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse1">Artists - Managing Your Profile</a>
							</h4>
						</div>
						<div id="sub2collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>1. Manage your profile from the "Account/Settings" module</p>
								<p>2. “Basic” & “Bio/ Photo” tabs are vital - choose a photo and write a bio that tells your story</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileBio.png" alt="Image" /></div></p>

								<br>

								<p>3. Create a CV, keep it simple with free text, or add details about your can add your exhibtions, awards and press</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfilesCV.png" alt="Image" /></div></p>

								<br>

								<p>4. Add “Selected Art”, and images, so these appear alongside your profile on your website, or when you share artwork or exhibitions via your app, social media or messaging (NB YOU NEED TO CREATE ARTWORKS FIRST BEFORE YOU CAN ADD THEM TO YOUR PORTFOLIO)</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Profile_Selected_Art.png" alt="Image" /></div></p>

								<br>

								<p>5. On the details tab, add your scoial media accounts - making it easier for people to follow you</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/CVSocialMedia.png" alt="Image" /></div></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse2">Galleries & Curators - Managing Your Profile</a>
							</h4>
						</div>
						<div id="sub2collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>The details tab includes profile information useful if you are a business </p> 
								<p>1. Add opening times - so people know when to come by and visit</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Profile_Opening_Times.png" alt="Image" /></div></p>

								<br>

								<p>2. Add multiple contact details - people can contact everyone in the team</p> 
								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/CV_MultipleContact.png" alt="Image" /></div></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse3">Galleries & Curators - Creating & Managing Artist Profiles</a>
							</h4>
						</div>
						<div id="sub2collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. On the Artist/Contact section use the “Create artist” button to add and manage profiles of the artists you manage</p> 
								<p>2. Use these managed profiles to create artworks</p> 
								<p>3. Use these managed profiles to create exhibitions</p> 
								<p>4. Use these managed profiles to create pages on your website</p> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->

	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">Artworks - Creating, Editing, Managing, Deleting</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse1">Adding a New Art Record</a>
							</h4>
						</div>
						<div id="sub3collapse1" class="panel-collapse collapse in">
							<div class="panel-body">

								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973269" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>


								<p>1. Manage your artworks from the "Artworks" module</p>
								<p>2. Hit the green “Create artwork” button to create a new artwork</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtCreatWide.png" alt="Image" /></div></p>

								<br>
								
								<p>3. Then add minimum “Basic” information (title/ artist/ technique) to create a record</p>
								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksBasicInfo.png" alt="Image" /></div></p>

								<br>

								<p>4. Then use the “Image” tab to add media to your art record</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksImage.png" alt="Image" /></div></p>

								<br>


								<p>5. Finally, on the “Details” tab add as much, or as little, context as you wish, such as size, year, price, catergory... </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Art_Details.png" alt="Image" /></div></p>


							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse2">Editing Existing Artworks </a>
							</h4>
						</div>
						<div id="sub3collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973039" width="640" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

								<p>1. Click directly into the artwork table to edit the name, price, availability, dimensions</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Artworks_Editing.png" alt="Image" /></div></p>

								<br>

								<p>2. Click on the green edit icon in the action column - to open the artwork for editing</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse3">Searching Your Portfolio to Find a Specific Artowork</a>
							</h4>
						</div>
						<div id="sub3collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973544" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
								<p>1. Enter key words into the search box to quickly narrow down your search of your porfolio</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtSearch.png" alt="Image" /></div></p>

								<br>

								<p>2. Use the drop down selector at the top of columns to filter art by type or status</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksFiltering.png" alt="Image" /></div></p>

							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse4">Cloning Art - Quickly Creating a Series from One Artwork</a>
							</h4>
						</div>
						<div id="sub3collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973682" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

								<p>1. In the “Actions” column of the artwork you want to clone, click on the orange “Clone” icon</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

								<br>


								<p>2. When the pop-up launches, enter the name of the new artwork you are adding to your portfolio, and hit the green “Duplicate” button</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworkClonePopup.png" alt="Image" /></div></p> 

								<br>


								<p>3. If this new artwork has details that are different to the original (e.g. size, number of editions) most can be edited directly on the artwork table. </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtEditingYear.png" alt="Image" /></div></p> 

								<br>

								<p>4. Click on the green edit button next to the new artwork in the action column, to add media to and edit details of the artwork</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse5">Downloading Art Records to Excel</a>
							</h4>
						</div>
						<div id="sub3collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. The export function allows you to download all the artworks on the table when you hit the button, so the first step is to make sure the table displays the artworks you want to download.</p>
								<p style="margin-left: 40px"> (i) To download specific art records - check the art records you want to download, then choose the "Show" option on green "Selected" button </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadShow.png" alt="Image" /></div></p> 

								<p style="margin-left: 40px"> (ii) To download your entire portfolio, choose "All" from the rows per page selector </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadAll.png" alt="Image" /></div></p> 

								<p>2. Hit the download records button and the choose the file type you want the records to be donwloaded as.</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadExcelOption.png" alt="Image" /></div></p> 

								<p>3. When your are prompted to choose a name for the file, make sure it has the correct file extension (for example ".xls" for Excel documents.</p>

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadName.png" alt="Image" /></div></p>  



							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse6">Deleting Artworks</a>
							</h4>
						</div>
						<div id="sub3collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<p><div class="panel-image"><iframe src="https://player.vimeo.com/video/337815199" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
								<p>1. Click on the check box next to the artwork or artworks you want to delete</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksSelectArtworks.png" alt="Image" /></div></p> 								
								

								

								

								<br>

								<p>2. Click on the green “Selected” button and then choose the “Delete” option</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworkDeleteSelectorButton.png" alt="Image" /></div></p> 

								<br>	

								<p>3. Hit the red "Delete" button to confirm your choice to permanently delete the selected art records</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksDeletePopUp.png" alt="Image" /></div></p> 		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4">Exhibitions - Creating, Publishing, Sharing</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse4" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse1">Exhibitions - Create & Set Up</a>
							</h4>
						</div>
						<div id="sub4collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>Exhibtions can be connected to real events witha a time and place (such as an art fair, gallery show or event) or they showcase a series of interconnected artworks you want to share and tell a story about (selections and showrooms)</p>
								<p>1. Manage your exhibitions from the "Exhibitions" module</p>
								<p>2. Hit the green “Create exhibition” button to begin creating your new exhibition</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionCreateExhibition.png" alt="Image" /></div></p> 	


								<p>3. If your are an artists MAKE SURE the exhibition is tagged with your name (if you are a gallery/curator MAKE SURE the participating artists are tagged)</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

								<br>

								<p>4. Choose the type of exhibition you are creating (Show/Fair/Selection/Showroom) give it a name and hit SAVE - after hitting SAVE you will be able to add art. REMEMBER TO HIT SAVE</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionCreatingBasic.png" alt="Image" /></div></p>

								<p>5. Add additional details - Location, Dates, Events - (Vital if you want to use smart filters to build web pages)</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibtionLocation.png" alt="Image" /></div></p>



							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse2">Exhibitions - Add Art, Media & Title Image</a>
							</h4>
						</div>
						<div id="sub4collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. On the "Art" tab in the exhibition, if you want to add a shot of the opening, or installation shots, use the green “Upload” image button.</p> 
								<p>2. If you want to add art from your portfolion (the best way to share your art), hit the green “attach artworks” button NB YOU NEED TO SET UP THE ART IN YOUR PORTFOLIO FIRST. </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionArt.png" alt="Image" /></div></p> 	

								<br>								

								<p>3. Click on the check box next to the artwork or artworks you want to add to the exhibition </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksSelectArtworks.png" alt="Image" /></div></p> 								

								<p>4. Click on the green “Selected” button and then choose the “Add to Exhibition” option </p> 


								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsAddtoExhibition.png" alt="Image" /></div></p> 	

								<p>5. Trouble Shooting:  If you can’t see the art you are looking for after hitting the “attach artworks” button it’s either because </p> 
								<p style="margin-left: 40px"> (i) You haven’t addd art to your portfolio yet </p>
								<p style="margin-left: 40px"> (ii) You haven’t tagged yourself in the exhibition properly </p>
								<p>6. On the “Title Image” tab choose an image that will visually represent this exhibition. Either:
</p> 
								<p style="margin-left: 40px"> (i) Choose an artwork from the exhibition to use as title image </p>
								<p style="margin-left: 40px"> (ii) Upload another image to use as title image</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitonTitleImage.png" alt="Image" /></div></p> 

								

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse3">Exhibitions - Publish & Share</a>
							</h4>
						</div>
						<div id="sub4collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. On the Publish/Share Tab - turn the Exhibition on - so you can share it (via Showroom, App, or website).</p> 

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsPublish.png" alt="Image" /></div></p> 	

								<br>

								<p>2. The URL to the exhibition Showroom is a bit further down he page and you can cut and paste it to send the exhibition to your network via messaging and social media, or use the inbuilt social media functions </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p> 	

								<br>

								<p>3. Clicking on the blue social media share icon in the Exhibiton Table action column, is also a shortcut to sharing that exhibtion</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsSharingTable.png" alt="Image" /></div></p> 	

									

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse4">Exhibitions - Deleting</a>
							</h4>
						</div>
						<div id="sub4collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<p> NB - When you delete an Exhibition you don’t delete the artworks in the exhibition - these remain in your portfolio (there are separate instructions on how to delete artworks).</p>
								<p>1. Click on the check box next to the exhibition or exhibitions you want to delete </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsDeleteSelected.png" alt="Image" /></div></p>

								<p>2. Click on the green “Selected” button and then choose the “Delete” option </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsDeleteGreenSelector.png" alt="Image" /></div></p>

								<p>3. Confirm your choice once prompted to permanently delete the selected Exhibition(s) </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionDeletePopUp.png" alt="Image" /></div></p>

							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse5">Apps & Showrooms - Showing & Sharing</a>
			</h4>
		</div>
		<div id="collapse5" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse1">App - Install it on Your Phone</a>
							</h4>
						</div>
						<div id="sub5collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>Technical Note : Your App is a "Progressive Web App," which means you don't need to go to the "App" or "Play" store and we can give you a smooth experience on mobile and dektop (very well supported by google).</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProgressiveWebApps.png" alt="Image" /></div></p>

								<p>1. The easiest way to install the app on your phone is to first log into your vPatina account on your phone.</p>

								<p>2. After logging in, click on your profile icon in the corner and choose "view profile" from the drop down menu</p>

								<p>3. In your profile, click on the URL link on top of your image (this takes you to your public profile)</p>

								<p>4. A soon as you get to this online public profile page - add it to your home screen as an icon</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/iphoneappinstall.jpg" alt="Image" /></div></p>

								<p>Alternatively, you can get the URL link to your profile by logging into your account on you PC, and then e-mail the link to your mobile (where you can bookmark it, as described above).</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse2">App - Browse, Show & Share</a>
							</h4>
						</div>
						<div id="sub5collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. Browse Your CV - use the tabs under your profile to show off your CV</p> 
								<p>2. Browse Exhibtions - Scroll through the curated exhibtions you have published</p> 
								<p>3. Explore an Exhibition - Tap on an exhibition to learn more about it </p>
								<p>4. Explore an Artwork - Tap on an artwork wihin an exhibition to learn more about it </p>
								<p>5. Explore an Artwork - Tap on an artwork wihin an exhibition to learn more about it </p>
								<p>6. Go Full Screen - Tap on the Artwork your are exploring to take it full screen</p>
								<p>7. Swipe on Full Screen - swipe through art in the exhibtion </p>
								<p>8. Zoom on Full Screen - pinch to zoom in on details in an artwork</p>
								<p>9. Use Specialized Controls in Full Screen to - Check Detail, Location & Share </p>
								<p>8. Text 8</p> 
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse3">Share from Your PC</a>
							</h4>
						</div>
						<div id="sub5collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>5. Text 5</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p> 	

								<p>6. Text 6</p> 
								<p>7. Text 7</p> 
								<p>8. Text 8</p> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{/block}


{block name=main}
  
{/block}