{$menu_styles = $scope.menus}
<input hidden="1" name="obj_id" type="hidden" class="obj_id" value="{$minisite.id|default:$id}">

<div class="mt20">
	<label>Menu Layout</label>
	{foreach from = $menu_styles item=menu_style}
		<div class="col-sm-12 col-lg-12 col-md-12 mt20">
			<div class="fontsty_boxblk">
				<div class="fontsty_box classic no-padding">				
	                <img src="/img/{$menu_style.image}" />
				</div>
				<div class="form-group">
					<div class="selrad_box">
						<input type="radio" class="menu_type" name="menu_type" id="radio1" value="{$menu_style.id}" {if ($minisite.menu_type == $menu_style.id)}CHECKED{/if}> {$menu_style.name}
					</div> 
				</div> 
			</div> 
		</div>
	{/foreach}
</div>

<script type="text/javascript">
  $(document).ready( function() {
    hidetabs();
  });
</script>