
      {$pagelist = $scope.pagelist}
      {$count = $pagelist|@COUNT}

      <div class="row" >
        <div class="col-sm-2 input_group">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#gbe_create_page_dialog"> Create Page</button>
        </div>
        <div class="col-sm-8">
          <span>
            1)Use “Create Page” button  to  add pages <br>
            2)  Drag  & drop  pages in  the table to  re-order  them  in  your  website menu <br>
            3)  Use Green edit  button  to  edit  each  page <br>
            4)  Red delete  button  allows  you to  remove  a page
          </span>
        </div>
      </div>
        
      <div class="row">
        <div class="form-group col-xs-12">
          <table class = "bootstrap-table table table-hover">
            <thead>
              <tr>
                <th>Menu Title</th>
                <th>Page Title</th>
                <th>Page Type</th>
                <th>Created</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id= "sortable-row">
              {foreach $pagelist as $pagelists}              
                <tr id= "{$pagelists.id}">
                  <td>{$pagelists.menu_title}</td>
                  <td>{$pagelists.page_title}</td> 
                    {$details = get_page_type($pagelists.type)}
                    {if ($details)}
                      {$tab = $details.tab}
                      {$page_type = $details.page_type}
                    {/if}
                  <td>{$page_type}</td>
                  <td>{$pagelists.created}</td>
                  <td>                    
                    <a href="/backend/website/{$minisite.id|default:$id}/edit/{$tab}?_pv=1&amp;page_id={$pagelists.id}&amp;user_id={$minisite.user_id|default:$user_id}" class="btn btn-xs btn-success ajax-loader" data-target="#subview-container"><button id= 'getpagelist' class='btn btn-xs btn-success' data-value='{$minisite.user_id}|{$pagelists.id}' onclick="show_tabs('{$tab}');"> <i class='glyphicon glyphicon-pencil'></i></button></a>
                    {if ($count != 1 )}
                      <button class='btn btn-xs btn-danger delete' id= 'page_delete' value="{$count}" data-value='{$pagelists.id}'> <i class='glyphicon glyphicon-trash'></i></button>
                    {/if}
                  </td>
                </tr>
              {/foreach} 
            </tbody>
          </table>
        </div>
        <input type="submit" class="btn btn-success" id= 'submit_order' value="Save page order" onClick="saveOrder();">
      </div>

{{"include": "_gallery-backend-website-createpage-dialog.html"}}
        
<script type="text/javascript">
  $(document).ready( function() {
    hidetabs();
  });
  $(function() {
      $( 'tbody' ).sortable();
    });
    
    function saveOrder() {
      var order_id = new Array();
      $('tbody#sortable-row tr').each(function() {
      order_id.push($(this).attr("id"));
      });

      $.ajax({
        url: "/ajax.php?oper=submit-order",
        type: "POST",
        data: {
          oper: "submit-order",
          val: order_id,
          obj_type: "minisite_page"
        },
      });
    }

</script>



  
      
      