<input hidden="1" name="obj_id" type="hidden" class="obj_id" value="{$minisite.id|default:$id}">

<!-- <label>Menu Colour Scheme</label>	
 <div class="row">
	<div class="col-sm-3">
	  <div class="input-group">
		<input type="radio" class="menu_colour" value="1"> From Colour Palette
		<input id="focus-demo" class="colour" value="#dbeef3">
	  </div>
 	</div>
	<div class="col-sm-3">
	  <div class="input-group">
		<input type="radio" class="menu_colour" value="2"> Same as the body of the website
	  </div>
 	</div>
 </div> -->

<div class="mt20">
  <label>Menu Layout</label>
	<div class="col-sm-12 col-lg-12 col-md-12 menuview_vertical mt20">
		<div class="fontsty_boxblk">
			<div class="fontsty_box classic">
				<div class="menuviewsidenav">
				  <a href="#">Exhibition</a>
				  <a href="#">Project</a>
				  <a href="#">News</a>
				  <a href="#">Team</a>
				  <a href="#">Contact</a>
				  <a href="#">Latest News</a>
				</div>
				<div class="menuviewmain">
				  <h3 class="menuvietitle">Exceptional Exhibition</h3>
				  <hr></hr>
				  <p class="menuvietext">We have some great events coming up in the next month that we would love to invite you.</p>
				</div>
			</div>
			<div class="form-group">
				<div class="selrad_box">
					<input type="radio" class="menu_type" name="menu_type" id="radio1" value="1" {if ($minisite.menu_type == '1')}CHECKED{/if}> Vertical
				</div> 
			</div> 
		</div> 
	</div>
	<div class="col-sm-12 col-lg-12 col-md-12 menuview_horizontal">
		<div class="fontsty_boxblk">
			<div class="fontsty_box classic">
				<div class="menuviewmain">
					<h3 class="menuvietitle">Exceptional Exhibition</h3>
					<div class="menuviewsidenav">
						<a href="#">Exhibition</a>
						<a href="#">Project</a>
						<a href="#">News</a>
						<a href="#">Team</a>
						<a href="#">Contact</a>
				  		<a href="#">Latest News</a>
					</div>
				</div>
				<hr></hr>
				<p class="menuvietext">We have some great events coming up in the next month that we would love to invite you.</p>
			</div>
			<div class="form-group">
				<div class="selrad_box">
					<input type="radio" class="menu_type" name="menu_type" id="radio1" value="2" {if ($minisite.menu_type == '2')}CHECKED{/if}> Horizontal
				</div> 
			</div> 
		</div> 
	</div>
</div>	
<script type="text/javascript">
  $("#gbe_artist_link").hide();
  $("#gbe_exhibition_link").hide();
  $("#gbe_home_link").hide();
  $("#gbe_contact_link").hide();
  $("#gbe_bio_link").hide();

  $('#focus-demo').colorpicker({
  	showOn:'focus'
  });

</script>