{{"extend": "_gallery-detail-base.html"}}


{block name=image}
  <img id="collection_title_image" src="{$collection_id|collection_photo:'big'}" class=""><br>
{/block}

{block name=aside} 

  <h2>{$collection.title}</h2>
  {if ($collection.start_date && $collection.end_date)}
    {{"include": "_gallery-collection-date"}}
  {/if}
  
  {if ($collection.event)}
    {$event = $collection.event}
    {$end_date = explode(' ', $event.end_time)}
    {$today = today()}
    {if ($end_date[0] < $today)}
    {else}
      {{"include": "_gallery-collection-event.html"}}
    {/if}
  {/if}
  
  {$profile_link = $smarty.const.PAGE_PROFILE|link}
    
  <br>
  
  {$artist = 0}
  {if ($collection_type == $smarty.const.MEDIA_COLLECTION_TYPE_PROJECT)}
    {$profile = $artist}
    {{"include": "_gallery-artist-information"}}

  {else if (($collection_type == $smarty.const.MEDIA_COLLECTION_TYPE_EXHIBITION))}
    {$artist_ids = $collection.artist_ids|@json_decode}
    {if (!$artist_ids)} 
      {$artist_ids = [$collection.artist_id]}
    {/if}
    {if ($artist_ids|@count > 0)}
      {if ($artist_ids|@count == 1)}
        <h3>Artist:</h3>
        {$artist = 1}
      {else}
        <h3>Artists:</h3>
        {$artist = 1}
      {/if}
      
      {foreach from=$artist_ids item=artist_id}
        {$profile = $artist_id|get_user:1}
        {{"include": "_gallery-artist-information"}}
      {/foreach}
      <br>
    {/if}
    
    {if (($artist) && ($artist_ids[0] != $curator.id))}
      <h3>Presented by:</h3>
      {$profile = $curator} 
      {{"include": "_gallery-curator-information"}}
    {/if}
    
    {if ($collection.location_id)}
      {{"include": "_gallery-collection-location"}}
    {else}
      <h3>{if ($curator.city)}{$curator.city}, {/if}{$curator.country|get:countries:name}</h3>
    {/if}
    <br>
    
    {{"include": "_gallery-contact-information"}}
    
    
  {else}
    Error: {$collection_type} is neither project nor exhibition
  {/if}
  
{/block}


{block name=below}
  {if ($collection.description)}
    <div class="gap gap-small"></div>
    <h3>About {$collection.title}</h3>
    {$collection.description}
  {/if}

  {{"include": "_gallery-related-images.html"}}

{/block}
