<!------------------Vignesh 02-06-2020 --------------------------->
      <div class="mt20">
        <a href="https://vimeo.com/424987864" class="btn btn-info button-large popup-iframe" data-effect="mfp-fade"><i class="fa fa-play-circle"></i>Website SEO Tutorial</a>
      </div><br>
<!------------------End 02-06-2020 --------------------------->
<form class="ajax-submit" data-handler="save-minisite-basic">
	<input hidden="1" name="id" type="hidden" value="{$minisite.id|default:$id}">
	<input hidden="1" name="obj_id" class="obj_id" type="hidden" value="{$minisite.id|default:$id}" class="obj_id">
	<input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">  

	<label class="mb20">If you want to connect your vPatina site to you own domain - we are here to help</label> <br>

	<div>
	  <span>
		1. If you haven't yet - buy a domain - you can do this at register.com, godaddy.com and many other providers <br>
		2. Enter a domain name you have, where indicated below <br>
		3. Confirm on the form that you are ready to connect your domain <br>
		4. Get in touch for support, e-mail: info@vpatina.com and call: 0630126934 
	  </span>
	</div><br>

	<div class="row mb20">
	  <div class="col-sm-8 no-padding">
		<label>Enter the URL of the domain you want to connect to When entering URL remember to start with https://....</label>
	  </div>
	  <div class="col-sm-6 no-padding">
		<input type="text" class="form-control" name="domain" value="{$minisite.url_slug}{$minisite.domain}" maxlength="128">
	  </div>
	</div>

	<div class="mb20">
		<label class="mb10">Are you ready to connect you website to your domain</label>
		<div class="input-group">
		  <input name='connect_domain' value='0' type='hidden'> 
		  <span style="padding-right: 10px"> Not ready yet   </span> <input type="checkbox" {if ($minisite.connect_domain)}checked{/if} class="bootstrap-toggle" value="1" name="connect_domain" id="name">   <span style="padding-left: 10px"> Yes I am ready </span> 
		</div>
	</div>
	<div class="row mb20">
	  <div class="col-sm-8 no-padding">
	  	<div class="col-sm-5 no-padding">
		  	<label for="SEARCH">SEARCH ENGINE OPTIMIZATION</label><br>
			<label>Site Title (recommended 50-60 characters)</label>
		</div>
		<!------------------Vignesh 01-06-2020 --------------------------->
		<div class="col-sm-5 no-padding">
			<a href="/img/vPatina_Tutorial_SearchEngine.pdf" class="btn" style="background-color:#337ab7; color:#fff; border-color:#337ab7;" target="_blank">Search Engine Tutorial PDF</a>
		</div>	
		<!------------------End 01-06-2020 --------------------------->
	  </div>
	  <div class="col-sm-6 no-padding">
		<input type="text" class="form-control" name="meta_title" value="{$minisite.meta_title}" maxlength="60">
	  </div>
	  <div style="margin-top:5px;" class="col-sm-8 no-padding">
         <label for="description">Site description (recommended 140-160 characters)</label>
      </div>
      <div class="col-sm-6 no-padding">   
            <textarea class="form-control" data-height="50" name="description">{$minisite.description}</textarea><br>
            <span>Our Search Engine Optimization technology is optimized for art. It automatically writes unique descriptions and titles for every one of your pages. Every images is automatically tagged with the name of the artist and information about the artwork, so you are ranked high in images searches and you get the credit you deserve.</span>
       </div>
	</div>
	<div>
	<div class="row mb20">
	  <div class="col-sm-8 no-padding">
		<input type="submit" class="btn btn-success" value="Save" id="submit">	
	  </div>
    </div>
		<span>Now, please get in touch so we can connect your site to your domain</span><br>
		<span>e-mail: info@vpatina.com and call: 0630126934 to connect</span>
	</div>
</form>
<script type="text/javascript">
  $(document).ready( function() {
    hidetabs();
  });
</script>