{$p = '/backend'}

<ul class="nav navbar-nav"> 
    <li id="nav_section_tips" class="class-filter{if ($scope.section =='tutorial')} active{/if}"><a class="subview-nav-link" href="{$p}/tutorial"></i>Quick Start & Tutorials<i class="pull-right hidden-xs showopacity fa fa-cog"></i></a></li>
    {if ($scope.user.user_level==40) }

        <li id="nav_section_tips" class="class-filter{if ($scope.section =='Analytics')} active{/if}"><a class="subview-nav-link" href="{$p}/Analytics"></i>Analytics <i class="pull-right hidden-xs showopacity fa fa-cog"></i></a></li>
        <li id="nav_section_tips" class="class-filter{if ($scope.section =='User')} active{/if}"><a class="subview-nav-link" href="{$p}/users"></i>User <i class="pull-right hidden-xs showopacity fa fa-cog"></i></a></li>
    {/if}
    <!-- {if ($scope.user.user_level==40) }
        <li id="nav_section_tips" class="class-filter{if ($scope.section =='Analytics')} active{/if}"><a class="subview-nav-link" href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Analytics <i class="pull-right hidden-xs showopacity fa fa-cog"></i> </a>
            <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                <li id="nav_section_tips" class="class-filter{if ($scope.section =='Analytics')} active{/if}"><a class="subview-nav-link" href="{$p}/Analytics"></i>Overview </a></li>
                <li id="nav_section_tips" class="class-filter{if ($scope.section =='User')} active{/if}"><a class="subview-nav-link" href="{$p}/users"></i>User </a></li>
            </ul>
        </li>
        
    {/if} -->
<!------------------Vignesh 02-06-2020 --------------------------->
    <li id="nav_section_acsetting" class="class-filter{if ($scope.section =='ACsettings')} active{/if}"><a class="subview-nav-link" href="{$p}/ACsettings"></i>Profile / App <i class="pull-right hidden-xs showopacity fa fa-cog"></i></a></li>
<!------------------End 02-06-2020 --------------------------->
    {if ($scope.user.roles >= 256)}
        <li id="nav_section_network" class="class-filter{if ($scope.section =='')} active{/if}"><a class="subview-nav-link" href="{$p}/network"></i>Artists / Contacts<i class="pull-right hidden-xs showopacity fa fa-users"></i></a></li>     
    {/if} 
    <li id="nav_section_artwork" class="class-filter{if ($scope.section =='artwork')} active{/if}"><a class="subview-nav-link" href="{$p}/artworks" id="gbe_artworks_link"></i>Artworks <i class="pull-right hidden-xs showopacity fa fa-paint-brush"></i></a></li>
    <li id="nav_section_exhibition" class="class-filter{if ($scope.section =='exhibition')} active{/if}"><a class="subview-nav-link" href="{$p}/exhibitions"></i>Exhibitions <i class="pull-right hidden-xs showopacity fa fa-asterisk"></i></a></li>
<!------------------Vignesh 01-06-2020 --------------------------->
    <li id="nav_section_vault" class="class-filter{if ($scope.section =='vault')} active{/if}"><a class="subview-nav-link" href="{$p}/vaults"></i>Media / Bulk Uploads<i class="pull-right hidden-xs showopacity fa fa-folder-o"></i></a></li>
<!------------------End 01-06-2020 --------------------------->
    <li id="nav_section_website" class="class-filter{if ($scope.section =='website')} active{/if}"><a class="subview-nav-link" href="{$p}/websites"></i>Website Builder<i class="pull-right hidden-xs showopacity fa fa-globe"></i></a></li>

<!----------------vignesh Implimented Codes------------------>

    <!--<li id="nav_section_website" class="class-filter{if ($scope.section =='cruds')} active{/if}"><a class="subview-nav-link" href="{$p}/cruds"></i>Crud<i class="pull-right hidden-xs showopacity fa fa-globe"></i></a></li>-->

<!-------------------End Vignesh Implemented Codes--------------------------->

<!----------------Jemima Implimented Codes------------------>

    <!-- <li id="nav_section_website" class="class-filter{if ($scope.section =='subscription')} active{/if}">
        <a class="subview-nav-link" href="{$p}/subscription">
            </i>Subscription<i class="pull-right hidden-xs showopacity fa fa-money"></i></a>
    </li> -->

<!-------------------End Jemima Implemented Codes--------------------------->

    {*
        <li id="nav_section_plugin" class="class-filter{if ($scope.section =='plugin')} active{/if}"><a class="subview-nav-link" href="{$p}/plugins"></i>Plugins <i class="pull-right hidden-xs showopacity fa fa-link"></i></a></li>
    *}
    <!--li id="nav_section_media" class="class-filter{if ($scope.section =='')} active{/if}"><a class="subview-nav-link" href="{$p}/media"></i>Media <i class="pull-right hidden-xs showopacity fa fa-picture-o"></i></a></li-->
    {* <li id="nav_section_settings" class="class-filter{if ($scope.section =='settings')} active{/if}"><a class="subview-nav-link" href="{$p}/settings"></i>Settings <i class="pull-right hidden-xs showopacity fa fa-cog"></i></a></li> *}
                          
    {*
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>  
    *}
</ul>                                         
                                                                                   