{$obj_id = $scope.page_id}
{$minisitepage = $scope.minisitepage}
{$full = $scope.artist_subLayout_full}
{$cv = $scope.artist_subLayout_cv}
{$sa = $scope.artist_subLayout_SA}
{$page_layout = find_object('minisite_layout', ['id' => $minisitepage.page_layout, 'active' => 1])}

{{"include": "_gallery-backend-website-subtab.html"}}

<input hidden="1" name="obj_id" type="hidden" class="obj_id" value="{$obj_id}">
{if ($full)}
  <div class="row mt20 mb10"><label>Full Profile Templates</label></div>
  <div class="row">
   {foreach from=$full item=$layout}
      <div class="col-sm-6">
        <div class="fontsty_boxblk">
          <div class="fontsty_box no-padding"><img src="/img/{$layout.image}" /></div>
          <div class="form-group">
            <div class="selrad_box">
              <input type="radio" class="parent_layout" name="page_layout" id="radio1" value="{$layout.id}" {if ($page_layout->parent_id == $layout.id)} checked {/if} > {$layout.name}
              <div class="radio_group" id="level1_list">
                <label>Number of tabs on profile</label>
                  <select id="selectList1_{$layout.id}" class="common1" onchange="get_level2()">
                  {if (($page_layout->parent_id == $layout.id) && ($page_layout->level1_id) )}
                    {$level1 = find_objects('minisite_level1', ['parent_id' => $page_layout->parent_id])}
                    {foreach from=$level1 item=$level}
                      <option value="{$level->id}" {if ($level->id == $page_layout->level1_id)} selected {/if}>{$level->name}</option>
                    {/foreach}
                  {else}
                    <option value="">Select Number of tabs on profile</option>
                  {/if}
                </select>
              </div>
              <div class="radio_group_{$layout.id}" id="level2_list">
                <label>Include/ Leave Out Artist Exhibition on Profile</label>
                  <select id="selectList2_{$layout.id}" class="common2" onchange="save_layout()">
                  {if (($page_layout->parent_id == $layout.id) && ($page_layout->level1_id) )}
                    {$level2 = find_objects('minisite_layout', ['parent_id' => $page_layout->parent_id, 'level1_id' =>$page_layout->level1_id ])}
                    {foreach from=$level2 item=$level}
                      <option value="{$level->id}" {if ($level->id == $page_layout->separators)} selected {/if}>{$level->name}</option>
                    {/foreach}
                  {else}
                    <option value="">Select</option>
                  {/if}
                </select>
              </div>
              <div class="radio_group_{$layout.id}">
                <label>Choose Art Layout</label>
                  <select id="selectList3_{$layout.id}" class="common2" onchange="save_tpl()">
                  {if (($page_layout->parent_id == $layout.id) && ($minisitepage.template) )}
                    {$level3 = [10 =>'Masonry' , 20=>'Hanging', 30=>'Standing']}
                    {foreach from=$level3 key=key item=$level}
                      <option value="{$key}" {if ($minisitepage.template == $key)} Selected {/if}>{$level}</option>
                    {/foreach}
                  {else}
                    <option value="">Select</option>
                  {/if}
                </select>
              </div>
              <div class="radio_group_{$layout.id}" id="level3_list">
                <label>Show/hide information under Artwork</label>
                  <select id="selectList4_{$layout.id}" class="common2" onchange="save_info()">
                  {if (($page_layout->parent_id == $layout.id))}
                    {$level4 = [1 =>'Show' , 0=>'Hide']}
                    {foreach from=$level4 key=key item=$level}
                      <option value="{$key}" {if ($minisitepage.show_details == $key)} Selected {/if}>{$level}</option>
                    {/foreach}
                  {else}
                    <option value="">Select</option>
                  {/if}
                </select>
              </div>
            </div> 
          </div> 
        </div> 
      </div>  
   {/foreach} 
  </div> 
{/if}

{if ($cv)}
  <div class="row mt20 mb10"><label>CV/ Bio Templates</label></div>
  <div class="row">
   {foreach from=$cv item=$layout}
      {$page_layouts = find_object('minisite_layout', ['parent_id' => $layout.id, 'active' => 1], ['fields' => 'distinct id'])}
      <div class="col-sm-6">
        <div class="fontsty_boxblk">
          <div class="fontsty_box no-padding"><img src="/img/{$layout.image}" /></div>
          <div class="form-group">
            <div class="selrad_box">
              <input type="radio" class="page_layout" name="page_layout" id="radio1" value="{$page_layouts->id}" {if ($minisitepage.page_layout == $page_layouts->id)} checked {/if} > {$layout.name}
            </div> 
          </div> 
        </div> 
      </div>  
   {/foreach} 
  </div> 
{/if}

{if ($sa)}
  <div class="row mt20 mb10"><label>Templates that Showcase only the Selected Art in  the Profile</label></div>
  <div class="row">
   {foreach from=$sa item=$layout}
      {$page_layouts = find_object('minisite_layout', ['parent_id' => $layout.id, 'active' => 1], ['fields' => 'distinct id'])}
      <div class="col-sm-6">
        <div class="fontsty_boxblk">
          <div class="fontsty_box no-padding"><img src="/img/{$layout.image}" /></div>
          <div class="form-group">
            <div class="selrad_box">
              <input type="radio" class="page_layout" name="page_layout" id="radio1" value="{$page_layouts->id}" onchange="save_sa()" {if ($minisitepage.page_layout == $page_layouts->id)} checked {/if} > {$layout.name}
              <div class="radio_group_{$layout.id}" id="level3_list">
                <label>Show/hide information under Artwork</label>
                  <select id="selectList4_{$page_layouts->id}" class="common2" onchange="save_info1()">
                  {if (($page_layout->parent_id == $layout.id))}
                    {$level4 = [1 =>'Show' , 0=>'Hide']}
                    {foreach from=$level4 key=key item=$level}
                      <option value="{$key}" {if ($minisitepage.show_details == $key)} Selected {/if}>{$level}</option>
                    {/foreach}
                  {else}
                    <option value="">Select</option>
                  {/if}
                </select>
              </div>
            </div> 
          </div> 
        </div> 
      </div>  
   {/foreach} 
  </div> 
{/if}
  
<script type="text/javascript">
  $(".parent_layout").change(function() {
    var page_layout = $('.parent_layout:checked').val();
    var level = 1;
    var obj_type = "minisite_level1";

    $(".common1").attr('disabled', 'disabled');
    $(".common2").attr('disabled', 'disabled');

    $('#selectList1_'+page_layout).removeAttr('disabled');
    $('#selectList2_'+page_layout).removeAttr('disabled');
    $('#selectList3_'+page_layout).removeAttr('disabled');
    $('#selectList4_'+page_layout).removeAttr('disabled');

    $.ajax({ 
      url: "/ajax.php",
      data: {
        oper: "get_layout_id",
        obj_type : obj_type,
        parent_id : page_layout,
        level: level,
      },
      success:function(response_data_json) {
        var datas = JSON.parse(response_data_json);
        var level1_list = JSON.parse(datas.data);
        $('#selectList1_'+page_layout).html("");
        $(level1_list).each(function (i) {
          $('#selectList1_'+page_layout).append("<option value=\""+level1_list[i].id+"\">"+level1_list[i].name+"</option>");
        });
        $('#selectList2_'+page_layout).val(level1_list[0].id);
        get_level2();
      }
    });
  });

  function get_level2(){
    var page_layout = $('.parent_layout:checked').val();
    var level1_val = $('#selectList1_'+page_layout).val();
    $.ajax({ 
      url: "/ajax.php",
      data: {
        oper: "get_layout_id",
        obj_type : "minisite_layout",
        parent_id : page_layout,
        level1_id : level1_val,
        level: 2,
      },
      success:function(response_data_json) {
        var datas = JSON.parse(response_data_json);
        var level2_list = JSON.parse(datas.data);
        console.log(level2_list);
        if(level2_list){
          $('#selectList2_'+page_layout).html("");
          $('#selectList3_'+page_layout).html("");
          $('#selectList4_'+page_layout).html("");
          $(level2_list).each(function (i) {
            $('#selectList2_'+page_layout).append("<option value=\""+level2_list[i].id+"\">"+level2_list[i].name+"</option>");
          });
          $('#selectList3_'+page_layout).append("<option value=10>Masonry</option><option value=20>Hanging</option><option value=30>Standing</option>");
          $('#selectList4_'+page_layout).append("<option value=1>Show</option><option value=0>Hide</option>");
          $('.radio_group_'+page_layout).show();
          $('#selectList2_'+page_layout).val(level2_list[0].id);
          $('#selectList3_'+page_layout).val(10);
          $('#selectList4_'+page_layout).val(1);
          save_layout();
        }
      }
    });
  }

  function save_layout(){
    var page_layout = $('.parent_layout:checked').val();
    var level2_val = $('#selectList2_'+page_layout).val();
    var template = $('#selectList3_'+page_layout).val();
    var show_details = $('#selectList4_'+page_layout).val();
    var obj_id = $('.obj_id').val();
    $.ajax({ 
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-layout",
        obj_id: obj_id,
        obj_type : "minisite_page",
        page_layout : level2_val,
        template: template,
        show_details: show_details,
      }
    });
  }

  function save_tpl(){
    var page_layout = $('.parent_layout:checked').val();
    var level3_val = $('#selectList3_'+page_layout).val();
    var obj_id = $('.obj_id').val();
    $.ajax({ 
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-layout",
        obj_id: obj_id,
        obj_type : "minisite_page",
        template: level3_val,
      }
    });
  }
  function save_info(){
    var page_layout = $('.parent_layout:checked').val();
    var level4_val = $('#selectList4_'+page_layout).val();
    var obj_id = $('.obj_id').val();
    $.ajax({ 
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-layout",
        obj_id: obj_id,
        obj_type : "minisite_page",
        show_details: level4_val,
      }
    });
  }
  //change Second page layout
  function save_sa() {
    var page_layout = $('.page_layout:checked').val();
    var obj_id = $('.obj_id').val();
    $(".common2").attr('disabled', 'disabled');
    $('#selectList4_'+page_layout).html("");
    $('#selectList4_'+page_layout).append("<option value=1>Show</option><option value=0>Hide</option>");
    $('#selectList4_'+page_layout).val(1);
    $('#selectList4_'+page_layout).removeAttr('disabled');
    $.ajax({ 
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-layout",
        obj_id: obj_id,
        obj_type : "minisite_page",
        second_layout : page_layout,
        show_details: 1,
      }
    });
  }
  function save_info1(){
    var page_layout = $('.page_layout:checked').val();
    var level4_val = $('#selectList4_'+page_layout).val();
    var obj_id = $('.obj_id').val();
    $.ajax({ 
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-layout",
        obj_id: obj_id,
        obj_type : "minisite_page",
        show_details: level4_val,
      }
    });
  }
</script>