{$minisitepage = $scope.minisitepage}
{$obj_id = $scope.page_id}
{$data = json_decode($minisitepage.data, True)}
<form class="ajax-submit" data-handler="save-minisite-mailform">
  <input hidden="1" name="minisite_id" type="hidden" value="{$minisite.id|default:$id}">
  <input hidden="1" name="obj_id" class="obj_id" type="hidden" value="{$obj_id}">
  <input hidden="1" name="user_id" type="hidden" value="{$minisite.user_id}">
  <input hidden="1" name="obj_type" type="hidden" value="minisite_page">
    
  <div class="form-group">
    <div class="row">
      <div class="form-group col-sm-8">
        <label for="menu-title">Do you want mailchimp to generate subscription form?</label>
        <input type="radio" class="show_mail" name="show_mail" value="1" onclick="change_radio(this);" {if ($data['show_mail'] == '1')} checked {/if} > Yes
        <input type="radio" class="show_mail" name="show_mail" value="0" onclick="change_radio(this);" {if ($data['show_mail'] == '0')} checked {/if} > No
      </div>
      <div class="yesMail" style="display: none;">
        <div class="form-group col-sm-8">
          <label>Select Form Type *</label>
          {$formtypes = [10=> 'Classic', 20=> 'Condensed', 30=> 'Horizontal', 40=> 'Unstyled']}
            <select class="form-control auto-select" name="mailtype" data-value="{$data['mailtype']|default:'10'}">
              {foreach from=$formtypes key=key item=type}
                <option value="{$key}">{$type}</option>
              {/foreach}                                            
            </select>
          
        </div>
        <div class="form-group col-sm-8">
          <label for="page-title">User Key *</label>
          <input type="text" class="form-control" name="u_key" value="{$data['u_key']}">
        </div>
        <div class="form-group col-sm-8">
          <label for="page-title">User Id *</label>
          <input type="text" class="form-control" name="u_id" value="{$data['u_id']}">
        </div>
        <div class="form-group col-sm-8">
          <label for="page-title">Button Id *</label>
          <input type="text" class="form-control" name="b_id" value="{$data['b_id']}">
        </div>
        
        <div class="form-group col-sm-8">
          <input type="submit" class="btn btn-success" value="Save" >
        </div>
      </div>
    </div>
    
  </div>

</form>
<script type="text/javascript">
  $(document).ready(function() {
    hidetabs();
    show_tabs('{$tab}');
    var eType = $('input:radio.show_mail:checked').val();
    if(eType == 1)
      $(".yesMail").show();
    else
      $(".yesMail").hide();

  });
  function change_radio(element) {
    var eType = $('input:radio.show_mail:checked').val();
    var obj_id = $('.obj_id').val();
    if(eType == 1)
      $(".yesMail").show();
    else
      $(".yesMail").hide();

    $.ajax({
      url: "/ajax.php",
      dataType: "json",
      data: {
        oper: "save-minisite-mailform",
        show_mail: eType,
        obj_type: 'minisite_page',
        obj_id: obj_id,
      }, 
        
    });
  }
  
</script>

  