	<form class="ajax-submit" data-handler="">
		<input hidden="1" name="id" type="hidden" value="{$scope.obj_id}">
        <input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">      
                
        {$layout = ['', 'Timeline', 'Single column']}
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <label for="minisite-layout-structure">Layout</label>
              <select class="form-control auto-select" id="layout-structure" name="layout-structure" data-default="Menu on Top Logo top Right" data-value="{$minisite.layout|default:'Timeline'}">
                {foreach from=$layout item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
          </div>
	</form>