<style type="text/css">
.fontsty_boxblk .classic{
  font-family: 'gotham_lightregular', Arial, sans-serif !important;
}
.fontsty_boxblk .modern{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.fontsty_boxblk .avenir-close{
  font-family: 'Avenir', 'Sans Serif' !important;
}
.fontsty_boxblk .gotham{
  font-family: 'gotham_lightregular', Arial, sans-serif !important;
}
.fontsty_boxblk .helvetica{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.fontsty_boxblk .avenir{
  font-family: 'Avenir', 'Sans Serif' !important;
}
.card-title.classic {
  font-size: 2em !important;
   color: #000;
}
.card-title.modern {
  font-size: 32px !important;
   color: #000;
}
.card-title.avenir-close {
  font-size: 1.75rem !important;
  font-weight: 500;
   color: #000;
}
.card-title.gotham {
  font-size: 1.75rem !important;
  font-weight: 500;
   color: #000;
}
.card-title.helvetica {
  font-size: 1.75rem !important;
  font-weight: 500;
   color: #000;
}
.card-title.avenir {
  font-size: 2em !important;
   color: #000;
}
ul.classic li{
  font-size: 0.825em;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 10px;
  color: #000; 
}
ul.modern li{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 10px;
  letter-spacing: normal; 
  color: #000; 
}
ul.avenir-close li{
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase; 
  padding: 10px;
  letter-spacing: normal; 
  color: #000000;
}
ul.gotham li{
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase; 
  padding: 10px;
  letter-spacing: normal; 
  color: #000;
}
ul.helvetica li{
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase; 
  padding: 10px;
  letter-spacing: normal; 
  color: #000;
}
ul.avenir li{
  font-size: 0.825em;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 10px;
  color: #000; 
}
p.classic{
  font-size: 13px !important;
  line-height: 15px;
}
p.modern{
  font-size: 17px !important;
  color: #000;
}
p.avenir-close{
  font-size: 1.125rem !important;
  color: #000000;
  line-height: 1.625rem;
}
p.gotham{
  font-size: 1.125rem !important;
  color: #000;
  line-height: 1.625rem;
}
p.helvetica{
  font-size: 1.125rem !important;
  color: #000;
  line-height: 1.625rem;
}
p.avenir{
  font-size: 13px !important;
  line-height: 15px;
}
</style>