{$what = 'tutorial'}
{$plural = 'tutorial'}

{block name=subview_title}
  <h3>Tips & Tutorial</h3>
{/block}

{block name=main}
<style>
img{
	width:auto;
	max-width:100%;
}
.panel-title > a {
	display: block;
	position: relative;
}
.panel-title > a:after {
	content: "\f067"; /* fa-chevron-down */
	font-family: 'FontAwesome';
	position: absolute;
	right: 8px;
}
.panel-title > a[aria-expanded="true"]:after {
	content: "\f068"; /* fa-chevron-up */
}
.panel-image{
	width:600px;
	max-width:100%;
	display: block;
	float: none;
	margin: auto;
	overflow: hidden;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	padding:8px;
}
.panel-image img{
	max-width:100%;
}
iframe{
	max-width: 100%;
}
</style>
<div class="panel-group mt40" id="accordion1">
	<div class="panel panel-default"><!-- chapter heading-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Must Read Tips & Advice</a><!-- chapter heading beginning-->
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-body">
					<div class="panel-group" id="accordion21">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse1">Introduction: 4 Steps to Great Websites & Portfolios</a>
								</h4>
							</div>	
							<div id="sub1collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>The key is getting your portfolio and your story organized first - before creating your website and sharing your work. Doing things in the right order is the key to success.</p>

									<p>1. Create a great profile, which you use to tag art and exhibitions - (if you are a gallery or curators you can create multiple profiles - see other tutorials)</p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileBio.png" alt="Image" /></div></p>

									<br>

									<p>2. Create an art record- THEN - tag this record with images (allows you to switch which images you want to use for your artwork more easily)</p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksImage.png" alt="Image" /></div></p>

									<br>

									<p>3. Create Exhibitions - THEN add the art in your portfolio to these exhibitions </p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionArt.png" alt="Image" /></div></p>

									<br>

									<p>4. Publish and share your Exhibitions art in a wide range of ways (apps, social media, websites)</p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse2">Key Buttons & Interactions</a>
								</h4>
							</div>	
							<div id="sub1collapse2" class="panel-collapse collapse">
								<div class="panel-body">

									<div class="panel-image"><iframe src="https://player.vimeo.com/video/337815438" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
									<p>Exhibitions are the way you curate and showcase interconnected artworks that you want to share and tell a story about.</p>

									<p>1. You must put art in an exhibition and PUBLISH it, before you can share it. CURATE!!</p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsPublish.png" alt="Image" /></div></p> 

									<br>

									<p>2. Make sure Art & Exhibitions are tagged with your name properly </p>
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

									<br>

									<p>3. Save Button. Use the SAVE button often, so your changes stick.</p> 

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Save.jpg" alt="Image" /></div></p>
									

									<br>

									<p>4. Watch Your File Size - Struggling to upload an image. Try reducing it’s size to below 1MB</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Tip_File_Size.png" alt="Image" /></div></p>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse3">How Profiles Work - if you are an Artist</a>
								</h4>
							</div>	
							<div id="sub1collapse3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>1. All artworks need to be tagged with the profile of the artist - YOU</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksBasicInfoTaggingName.png" alt="Image" /></div></p>
									<p>2. Your art can only be added to an exhibition if YOU are tagged as the artist in the exhibition</p> 
									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

									<br>

									<p>3. Your CV in your App and Showroom is driven by your profile information</p> 

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Slide1.jpg" alt="Image" /></div></p>

									<br>

									<p>4. On your vPatina driven website, profile pages are also driven by your profile information</p> 
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion21" href="#sub1collapse4">How Profiles Work - if you are a Curator/ Gallery</a>
								</h4>
							</div>	
							<div id="sub1collapse4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>1. On your App and in the Showroom, your profile is automatically attached to exhibitions you create - giving you credit as a curator</p> 

									<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileExhibitionCuratedSmall.jpg" alt="Image" /></div></p>

									<p>2. You can also create and manage profiles of the artists you manage, so you can create artworks and exhibitons featuring them</p>

									<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfilesManagedArtists.png" alt="Image" /></div></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Profiles - Creating & Using</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse1">Artists - Managing Your Profile</a>
							</h4>
						</div>
						<div id="sub2collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>1. Manage your profile from the "Account/Settings" module</p>
								<p>2. “Basic” & “Bio/ Photo” tabs are vital - choose a photo and write a bio that tells your story</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileBio.png" alt="Image" /></div></p>

								<br>

								<p>3. Create a CV, keep it simple with free text, or add details about your can add your exhibtions, awards and press</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfilesCV.png" alt="Image" /></div></p>

								<br>

								<p>4. Add “Selected Art”, and images, so these appear alongside your profile on your website, or when you share artwork or exhibitions via your app, social media or messaging (NB YOU NEED TO CREATE ARTWORKS FIRST BEFORE YOU CAN ADD THEM TO YOUR PORTFOLIO)</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Profile_Selected_Art.png" alt="Image" /></div></p>

								<br>

								<p>5. On the details tab, add your scoial media accounts - making it easier for people to follow you</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/CVSocialMedia.png" alt="Image" /></div></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse2">Galleries & Curators - Managing Your Profile</a>
							</h4>
						</div>
						<div id="sub2collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>The details tab includes profile information useful if you are a business </p> 
								<p>1. Add opening times - so people know when to come by and visit</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Profile_Opening_Times.png" alt="Image" /></div></p>

								<br>

								<p>2. Add multiple contact details - people can contact everyone in the team</p> 
								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/CV_MultipleContact.png" alt="Image" /></div></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#sub2collapse3">Galleries & Curators - Creating & Managing Artist Profiles</a>
							</h4>
						</div>
						<div id="sub2collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p> If you represent multiple artists (e.g. if you are a gallery), you can create managed profiles so you can create art portfolios, exhibitions and web pages featuring these artists you represent</p>
								<p>1. You will need to use the Artists/Contact section (if you can't see it you may need to get your account upgraded - which we can do for free - get in touch)</p> 
								<p>2. To create a managed profile use the green “Create artist” button </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/CreatingArtists.png" alt="Image" /></div></p>

								<p>3. To edit a managed profile - click on the green edit icon next to the profile in the artists/contact table</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfilesManagedArtists.png" alt="Image" /></div></p>



								<p>4. To create artworks for your managed artist - tag the art record you create with the managed profile (see Art Tutorial section for more details on creating/editing/deleting artworks) </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileManagedTagArt2.png" alt="Image" /></div></p>


								<p>5. To create an exhibition featuring your managed artist - tag the exhibition with their managed profile (see Exhibition Tutorial for more instructions on creating/editing/deleting exhibitions)</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileManagedTagExhibition.png" alt="Image" /></div></p>

								<p>6. If you are using vPatina to create your website - you can add artists profiles to certain web pages on your site</p> 

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProfileManagedWebsite.png" alt="Image" /></div></p>



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->

	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">Artworks - Creating, Editing, Managing, Deleting</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion3">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse1">Adding a New Art Record</a>
							</h4>
						</div>
						<div id="sub3collapse1" class="panel-collapse collapse in">
							<div class="panel-body">

								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973269" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>


								<p>1. Manage your artworks from the "Artworks" module</p>
								<p>2. Hit the green “Create artwork” button to create a new artwork</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtCreatWide.png" alt="Image" /></div></p>

								<br>
								
								<p>3. Then add minimum “Basic” information (title/ artist/ technique) to create a record</p>
								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksBasicInfo.png" alt="Image" /></div></p>

								<br>

								<p>4. Then use the “Image” tab to add media to your art record</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksImage.png" alt="Image" /></div></p>

								<br>


								<p>5. Finally, on the “Details” tab add as much, or as little, context as you wish, such as size, year, price, catergory... </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Art_Details.png" alt="Image" /></div></p>


							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse2">Editing Existing Artworks </a>
							</h4>
						</div>
						<div id="sub3collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973039" width="640" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

								<p>1. Click directly into the artwork table to edit the name, price, availability, dimensions</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/Artworks_Editing.png" alt="Image" /></div></p>

								<br>

								<p>2. Click on the green edit icon in the action column - to open the artwork for editing</p>
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse3">Searching Your Portfolio to Find a Specific Artowork</a>
							</h4>
						</div>
						<div id="sub3collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973544" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
								<p>1. Enter key words into the search box to quickly narrow down your search of your porfolio</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtSearch.png" alt="Image" /></div></p>

								<br>

								<p>2. Use the drop down selector at the top of columns to filter art by type or status</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksFiltering.png" alt="Image" /></div></p>

							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse4">Cloning Art - Quickly Creating a Series from One Artwork</a>
							</h4>
						</div>
						<div id="sub3collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe src="https://player.vimeo.com/video/337973682" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

								<p>1. In the “Actions” column of the artwork you want to clone, click on the orange “Clone” icon</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

								<br>


								<p>2. When the pop-up launches, enter the name of the new artwork you are adding to your portfolio, and hit the green “Duplicate” button</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworkClonePopup.png" alt="Image" /></div></p> 

								<br>


								<p>3. If this new artwork has details that are different to the original (e.g. size, number of editions) most can be edited directly on the artwork table. </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtEditingYear.png" alt="Image" /></div></p> 

								<br>

								<p>4. Click on the green edit button next to the new artwork in the action column, to add media to and edit details of the artwork</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtIcons.png" alt="Image" /></div></p> 

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse5">Downloading Art Records to Excel</a>
							</h4>
						</div>
						<div id="sub3collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. The export function allows you to download all the artworks on the table when you hit the button, so the first step is to make sure the table displays the artworks you want to download.</p>
								<p style="margin-left: 40px"> (i) To download specific art records - check the art records you want to download, then choose the "Show" option on green "Selected" button </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadShow.png" alt="Image" /></div></p> 

								<p style="margin-left: 40px"> (ii) To download your entire portfolio, choose "All" from the rows per page selector </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadAll.png" alt="Image" /></div></p> 

								<p>2. Hit the download records button and the choose the file type you want the records to be donwloaded as.</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadExcelOption.png" alt="Image" /></div></p> 

								<p>3. When your are prompted to choose a name for the file, make sure it has the correct file extension (for example ".xls" for Excel documents.</p>

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtDownloadName.png" alt="Image" /></div></p>  



							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion3" href="#sub3collapse6">Deleting Artworks</a>
							</h4>
						</div>
						<div id="sub3collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<p><div class="panel-image"><iframe src="https://player.vimeo.com/video/337815199" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
								<p>1. Click on the check box next to the artwork or artworks you want to delete</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksSelectArtworks.png" alt="Image" /></div></p> 								
								

								

								

								<br>

								<p>2. Click on the green “Selected” button and then choose the “Delete” option</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworkDeleteSelectorButton.png" alt="Image" /></div></p> 

								<br>	

								<p>3. Hit the red "Delete" button to confirm your choice to permanently delete the selected art records</p> 
								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksDeletePopUp.png" alt="Image" /></div></p> 		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4">Exhibitions - Creating, Publishing, Sharing</a><!-- chapter heading-->
			</h4>
		</div>
		<div id="collapse4" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse1">Exhibitions - Create & Set Up</a>
							</h4>
						</div>
						<div id="sub4collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>Exhibtions can be connected to real events witha a time and place (such as an art fair, gallery show or event) or they showcase a series of interconnected artworks you want to share and tell a story about (selections and showrooms)</p>
								<p>1. Manage your exhibitions from the "Exhibitions" module</p>
								<p>2. Hit the green “Create exhibition” button to begin creating your new exhibition</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionCreateExhibition.png" alt="Image" /></div></p> 	


								<p>3. If your are an artists MAKE SURE the exhibition is tagged with your name (if you are a gallery/curator MAKE SURE the participating artists are tagged)</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSetUpTaggingName.png" alt="Image" /></div></p>

								<br>

								<p>4. Choose the type of exhibition you are creating (Show/Fair/Selection/Showroom) give it a name and hit SAVE - after hitting SAVE you will be able to add art. REMEMBER TO HIT SAVE</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionCreatingBasic.png" alt="Image" /></div></p>

								<p>5. Add additional details - Location, Dates, Events - (Vital if you want to use smart filters to build web pages)</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibtionLocation.png" alt="Image" /></div></p>



							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse2">Exhibitions - Add Art, Media & Title Image</a>
							</h4>
						</div>
						<div id="sub4collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. On the "Art" tab in the exhibition, if you want to add a shot of the opening, or installation shots, use the green “Upload” image button.</p> 
								<p>2. If you want to add art from your portfolion (the best way to share your art), hit the green “attach artworks” button NB YOU NEED TO SET UP THE ART IN YOUR PORTFOLIO FIRST. </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionArt.png" alt="Image" /></div></p> 	

								<br>								

								<p>3. Click on the check box next to the artwork or artworks you want to add to the exhibition </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ArtworksSelectArtworks.png" alt="Image" /></div></p> 								

								<p>4. Click on the green “Selected” button and then choose the “Add to Exhibition” option </p> 


								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsAddtoExhibition.png" alt="Image" /></div></p> 	

								<p>5. Trouble Shooting:  If you can’t see the art you are looking for after hitting the “attach artworks” button it’s either because </p> 
								<p style="margin-left: 40px"> (i) You haven’t addd art to your portfolio yet </p>
								<p style="margin-left: 40px"> (ii) You haven’t tagged yourself in the exhibition properly </p>
								<p>6. On the “Title Image” tab choose an image that will visually represent this exhibition. Either:</p> 
								<p style="margin-left: 40px"> (i) Choose an artwork from the exhibition to use as title image </p>
								<p style="margin-left: 40px"> (ii) Upload another image to use as title image</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitonTitleImage.png" alt="Image" /></div></p> 

								

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse3">Exhibitions - Publish & Share</a>
							</h4>
						</div>
						<div id="sub4collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. On the Publish/Share Tab - turn the Exhibition on - so you can share it (via Showroom, App, or website).</p> 

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsPublish.png" alt="Image" /></div></p> 	

								<br>

								<p>2. The URL to the exhibition Showroom is a bit further down he page and you can cut and paste it to send the exhibition to your network via messaging and social media, or use the inbuilt social media functions </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p> 	

								<br>

								<p>3. Clicking on the blue social media share icon in the Exhibiton Table action column, is also a shortcut to sharing that exhibtion</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsSharingTable.png" alt="Image" /></div></p> 	

									

							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion4" href="#sub4collapse4">Exhibitions - Deleting</a>
							</h4>
						</div>
						<div id="sub4collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<p> NB - When you delete an Exhibition you don’t delete the artworks in the exhibition - these remain in your portfolio (there are separate instructions on how to delete artworks).</p>
								<p>1. Click on the check box next to the exhibition or exhibitions you want to delete </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsDeleteSelected.png" alt="Image" /></div></p>

								<p>2. Click on the green “Selected” button and then choose the “Delete” option </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionsDeleteGreenSelector.png" alt="Image" /></div></p>

								<p>3. Confirm your choice once prompted to permanently delete the selected Exhibition(s) </p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionDeletePopUp.png" alt="Image" /></div></p>

							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div><!-- chapter heading end-->
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse5">Apps & Showrooms - Showing & Sharing</a>
			</h4>
		</div>
		<div id="collapse5" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse1">App - Install it on Your Phone</a>
							</h4>
						</div>
						<div id="sub5collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="panel-image"><iframe title="vimeo-player" src="https://player.vimeo.com/video/339153847" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>


								<p>Technical Note : Your App is a "Progressive Web App," which means you don't need to go to the "App" or "Play" store and we can give you a smooth experience on mobile and dektop (very well supported by google).</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ProgressiveWebApps.png" alt="Image" /></div></p>

								<p>The easiest way to install the app on your phone is to first log into your vPatina account on your phone.</p>

								<p>1. After logging in, click on your profile icon in the corner and choose "view profile" from the drop down menu</p>

								<p>2. In your profile, click on the URL link on top of your image (this takes you to your public profile)</p>

								<p>3. A soon as you get to this online public profile page - add it to your home screen as an icon</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/AppInstallNumbers.jpg" alt="Image" /></div></p>

								<p>Alternatively, get the URL link by logging int your account on your PC:</p>

								<p>1. Go to your account - where you can find the link to your online showroom profile</p>

								<p><div class="panel-image"><img src="https://admin.vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/GetApp.png" alt="Image" /></div></p>

								<p>2. Then e-mail this link to your mobile (where you can bookmark it, as described above).</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse2">App - Browse, Show & Share</a>
							</h4>
						</div>
						<div id="sub5collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe title="vimeo-player" src="https://player.vimeo.com/video/340770838" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
								<p>1. Browse Your CV - use the tabs under your profile to show off your CV</p> 
								<p>2. Browse Exhibtions - Scroll through the curated exhibtions you have published</p> 
								<p>3. Explore an Exhibition - Tap on an exhibition to learn more about it </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/show123.jpg" alt="Image" /></div></p>



								<p>4. Explore an Artwork - Tap on an artwork wihin an exhibition to learn more about it </p>
								<p>5. Go Full Screen - While exploring an artwork, tap on it to take it full screen and swipe through other artworks in the exhibition</p>
								<p>6. Zoom on Full Screen - pinch to zoom in on details in an artwork</p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/show456.jpg" alt="Image" /></div></p>

								<p>7. Use Specialized Controls in Full Screen mode to - Check Details, Location & Share </p>

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/showbuttons.jpg" alt="Image" /></div></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion5" href="#sub5collapse3">Share from Your PC</a>
							</h4>
						</div>
						<div id="sub5collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>5. Text 5</p> 

								<p><div class="panel-image"><img src="https://vpatina.com/user/images/g5_helium/g5_helium/g5_helium/vpatina/ExhibitionSharing.png" alt="Image" /></div></p> 	

								<p>6. Text 6</p> 
								<p>7. Text 7</p> 
								<p>8. Text 8</p> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default"><!-- chapter heading beginning-->
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion1" href="#collapse6">Websites - Smart Filter & Art Focused Templates</a>
			</h4>
		</div>
		<div id="collapse6" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel-group" id="accordion6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse1">Intro - Simple Gorgeous Designs for Art Professionals</a>
							</h4>
						</div>
						<div id="sub6collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="panel-image"><iframe title="vimeo-player" src="https://player.vimeo.com/video/339153847" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>

								<p>1. Content driveb by Exhibitions - pages designed to show off your exhibitions beautifully</p>
								<p style="margin-left: 40px"> (i) Art focused smart filters so your pages automatically update, OR </p>
								<p style="margin-left: 40px"> (ii) Manually select exhibitions to appear on pages</p>

								<p>2. Design driven by layouts & templates developed for art professional</p>
								<p style="margin-left: 40px"> (i) Profiles Templates, to showcase your career and key work</p>
								<p style="margin-left: 40px"> (ii) Exhibition Templates, to beautifully layout your art</p>
								<p style="margin-left: 40px"> (iii) Layouts - deliver elegant, intuitive navigation between exhibitions and profiles</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse2">Create a New Website</a>
							</h4>
						</div>
						<div id="sub6collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="panel-image"><iframe title="vimeo-player" src="https://player.vimeo.com/video/340770838" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
								<p>1. Click on the "Wesbsite Module," then click on the green "Create Website" button</p> 
								<p>2. Choose a Site Title, to appear at the top of your website (you can edit it later on - this is just to get you started)</p> 
								<p>3. Choose a vPatina URL - it is the unique extension of your website on our domain and cannot be changed once chosen - you can also move your website to your own domain - so don’t worry too much about what this is - as long as it is unique)</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse3">Design & Style Your Menu & Your Site</a>
							</h4>
						</div>
						<div id="sub6collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>On the "Basic" tab</p>
								<p>1. Choose between a Site Title or Site Logo for your menu</p> 
								<p style="margin-left: 40px">(i) If you want a font/text based site title, edit it on the basic tab</p>
								<p style="margin-left: 40px">(ii) If you want a logo - upload/attach and then size your logo (if you change your mind and want to go back to a site title - just remove the logo)</p>
								<p>2. Add an optional sub title - this can be used to describe your mission or highlight an upcoming event - or you can leave it blank - up to you </p>
								<p>On the "Menu" tab</p> 
								<p>3. Choose the type of menu that you want by selecting a template </p> 
								<p>On the "Font" tab</p> 
								<p>4. Choose a Font Template</p> 
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse4">Creating Pages - An Overview</a>
							</h4>
						</div>
						<div id="sub6collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. Create page - use the green button on the “Pages” tab, choose the type of page you need - sections below for more guidance</p>
								<p>2. Menu Title - choose the title on the menu bar that links to your page</p> 
								<p>3. Page Title - if you want - add a short introduction to your page enter it here</p> 
								<p>4. Content - Pages are designed to host different types of content - which can be</p> 
								<p style="margin-left: 40px">(i) One or more exhibitions</p>
								<p style="margin-left: 40px">(ii) Information about you, taken from your profile</p>
								<p style="margin-left: 40px">(ii) If you are a gallery, the profiles of artists you manage</p>
								<p>5. Styling - A selection of templates and layouts that delivers great design</p>
								<p>6. Page background colour - Customize the background colour the page if you want</p> 
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse5">Page Structure - Order & Edit Pages & Set Your Home Page</a>
							</h4>
						</div>
						<div id="sub6collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<p>1. Re-order pages- Drop and drag them to change their order in the menu</p>
								<p>2. Choose a home page - Drag a page to the top, to make it your home page</p>
								<p>3. Delete a page - use the delete icon</p>
								<p>4. Edit a page - use the edit icon</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse6">Single Exhibition</a>
							</h4>
						</div>
						<div id="sub6collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<p>This page showcases a specific exhibition, and could be a great home page -or you could use it to direct people immediately towards specific artworks</p>
								<p>1. Content tab - choose which exhibition appears on this page, either</p>
								<p style="margin-left: 40px">(i) Use a smart filter to automatically filter your most recent events onto this page OR</p>
								<p style="margin-left: 40px">(ii) Manually select one exhibition to appear on this page</p>
								<p>2. Exhibition Template tab - choose a template to style your chosen exhibition</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse7">Multiple Exhibitions  - Smart Filter</a>
							</h4>
						</div>
						<div id="sub6collapse7" class="panel-collapse collapse">
							<div class="panel-body">
								<p>This page showcases multiple exhibitions and could be used to showcase important art fairs, or gallery exhibition you have been involved in.</p>
								<p>1. Content tab - use the smart filter to choose and order which exhibitions appear </p>
								<p>2. Page Layout tab - choose a layout to style the way users navigate the list of exhibitions you have chosen </p>
								<p>3. Exhibition Templates - choose an exhibition template to style how each exhibition is styled </p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse8">User Profile Page</a>
							</h4>
						</div>
						<div id="sub6collapse8" class="panel-collapse collapse">
							<div class="panel-body">
								<p>This page showcases and styles elements from your profile and could be used to show off your CV, Bio, Selected Artworks, or you entire profile</p>
								<p>1. Content - this page automatically accesses your profile - which you can easily edit using the red buttons on the content tab</p>
								<p>2. Profile Templates - choose a profile template to determine which elements of your profile you want to show off - and how you want to show these elements off</p>
								<p style="margin-left: 40px">(i) CV, Bio, Artwork templates allow you to share part of your profile OR</p>
								<p style="margin-left: 40px">(ii) Complete Profile pages (Berlin, Manhattan) showcase and style multiple elements in your profile</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse9">Artists Page</a>
							</h4>
						</div>
						<div id="sub6collapse9" class="panel-collapse collapse">
							<div class="panel-body">
								<p>If you are a gallery, or a collective, this page is a great way to showcases the artists you represent - quickly see who you work with and navigate their profiles</p>
								<p>1. Content tab - Manually add the list of artist profiles that you want to show</p>
								<p>2. Page Layout - Choose from a selection of layouts that present the artists you work with</p>
								<p>3. Profile Template - Select and style the elements of the artists profile you want to present </p>
	
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion6" href="#sub6collapse10">Contact Page</a>
							</h4>
						</div>
						<div id="sub6collapse10" class="panel-collapse collapse">
							<div class="panel-body">
								<p>This page showcases and styles elements from your profile and could be used to show off your CV, Bio, Selected Artworks, or you entire profile.</p>
								<p>1. Content tab - this page automatically accesses your profile - which you can easily edit using the red button</p>
								<p>2. Contact Page Templates - how your contact details are presented</p>
								<p>Hint - Choose a template that fits your needs - if you are a large organization you will need a much different template than if you are a smaller organization.</p>
	
							</div>
						</div>
					</div>																
				</div>
			</div>
		</div>
	</div><!-- chapter ender-->	
</div>
{/block}


{block name=main}
  
{/block}