{$collection = $scope.collection}

{$images = $scope.related_images}
{$types = $scope.description_type}
{{"include": "_gallery-backend-collection-media-dialog.html"}}
<div class="form-group">
  <div class="row form-group">
    <label for="media-name">Attach existing art or images</label>
    <div class="col-xs-12 mt10">
      <a href="/backend/artworks?add_to={$collection.id}&amp;_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-square"></i> Attach Artworks</a>
      <span>OR</span>
      <a id="{$image.id}" type="button" class="btn btn-success collection_image_add" data-toggle="modal" data-target="#gbe_related_media_dialog" data-typeid="{$image.descriptiontype_id}" data-description="{$image.short_description}" > Add Image Details</button></a>
    </div>
  </div><br>
  
  <span style="padding-left: 16px;">Drag and drop related images to order how they appear</span>
  <table class = "bootstrap-table table table-hover exhibition_art">
    <thead>
      <tr>
        <th>Image</th>
        <th>Art: Title</th>
        <th>Exhibition Image: Type</th>
        <th>Exhibition Image: Caption</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id= "sortable-row">
      {foreach $images as $image} 
        <tr id= "{$image.id}">
          {$media = (array)find_object('media', ['id' => $image.media_id])}
          {if ($media)}
            {$path = "`$media.path`thumb/`$media.filename`" }
          {/if}
          <td class="table-thumb">
            {if ($image.media_id)}
              <img src="{$path}">
            {else}
            {/if}
          </td>
          {if ($image.artwork_id)}  
            {$artwork = get_object('artwork', $image.artwork_id)}
            <td><span style="cursor: default;">{$artwork->title}</span></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          {if (!$image.artwork_id)} 
            {$type_desc = ''}
            {foreach $types as $type} 
              {if ($type.id == $image.type)}
                {$type_desc = $type.name}
              {/if}
            {/foreach}
            <td class="editable"><span id="edit-collection-type" class="status{$image.id}" data-id={$image.id} style="cursor: pointer">{$type_desc}</span><div class="cstatus" id="cstatus{$image.id}" contenteditable="true" style="display: none;"></div></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          {if (!$image.artwork_id)}
            <td class="editable"><span contenteditable="true" class="edit-collection-description" data-id={$image.id} data-col="description">{$image.description}</span></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          <td>
            <button class='btn btn-danger' id= 'delete-collection-media' data-value='{$image.id}'> <i class='glyphicon glyphicon-trash'></i></button>
            {if (!$image.artwork_id)}    
              <a href="/backend/exhibition/{$collection.id}/edit/medias?add_media={$image.id}&_pv=1" id="{$image.id}" type="button" class="btn btn-success ajax-loader" data-target="#subview-container">Add/Edit Media</button></a>
            {/if}
          </td>
        </tr>
      {/foreach} 
    </tbody>
  </table><br>
  <input type="submit" class="btn btn-success" id= 'submit_order' value="Save page order" onClick="saveOrder();">
</div>
<script type="text/javascript">
  $("#gbe_media_link").hide();
  $(function() {
      $( 'tbody' ).sortable({
        cancel: '[contenteditable]',
      });
    });
    
  function saveOrder() {
    var order_id = new Array();
    $('tbody#sortable-row tr').each(function() {
    order_id.push($(this).attr("id"));
    });

    $.ajax({
      url: "/ajax.php?oper=submit-order",
      data: {
        oper: "submit-order",
        val: order_id,
        obj_type: "media_collection_map"
      },
    });
  }
</script>
