{$what = 'network'}
{$plural = 'networks'}

<div class="row">
  <div class="col-lg-9 col-md-9 col-xl-9" >
      <div class="border-right" style="border-right:1px solid #87bd41;">
        <ul class="nav nav-tabs" >
          <li class="active"><a data-toggle="tab" href="#tab1">Followers</a></li>
          <li><a data-toggle="tab" href="#tab2">Followings</a></li>
        </ul>
  
        <div class="tab-content" >
          <div id="tab1" class="tab-pane fade in active">
            
            <div class="row userDetailListMain  scrollBar" >
              <div class="col-md-12" style="margin-bottom:10px ;"></div>
            {foreach $scope['user']['followers'] as $follower}              

              <div class="col-md-4 spaceLesscard">
                <div class="panel panel-default">
                  <div class="row " id="followScreen">
                    <div class="col-md-3">
                     <img class="img-responsive" src="{$follower['profile']|userphoto:'big'}" alt="">
                    </div>
                    <div class="col-md-9">
                      <p class="followUserName" style="font-weight: 400 !important;">{$follower['profile']['display_name']}</p>
                      <button class="btn btn-block bg-light followBtn">Follow</button>
                    </div>
                  </div>
                </div>
                 
              </div>
          
            {/foreach}
          
          
          
          </div>
          </div>
          <div id="tab2" class="tab-pane fade">
            <div class="row userDetailListMain  scrollBar">
              <div class="col-md-12" style="margin-bottom:10px ;"></div>
  
            {foreach $scope['user']['followings'] as $following}              

              <div class="col-md-4 spaceLesscard">
                <div class="panel panel-default">
                  <div class="row " id="followScreen">
                    <div class="col-md-3">
                     <img class="img-responsive" src="{$following['profile']|userphoto:'big'}" alt="">
                    </div>
                    <div class="col-md-9">
                      <p class="followUserName" style="font-weight: 400 !important;">{$following['profile']['display_name']}</p>
                      <button class="btn btn-block bg-light followBtn">Un Follow</button>
                    </div>
                  </div>
                </div>
                 
              </div>
          
            {/foreach}
            
          
          
          
          </div>
          </div>
         
        </div>
  
      </div>
     

  </div>
  <!-- <div class="col-md-3">
      <h4 class="font-weight-bold" style="font-weight: 500; padding:4px;">Suggestions</h4>
        {foreach $scope['user']['followings'] as $following}              

          <div class="col-md-4 spaceLesscard">
            <div class="panel panel-default">
              <div class="row " id="followScreen">
                <div class="col-md-3">
                 <img class="img-responsive" src="{$following['profile']|userphoto:'big'}" alt="">
                </div>
                <div class="col-md-9">
                  <p class="followUserName" style="font-weight: 400 !important;">{$following['profile']['display_name']}</p>
                  <button class="btn btn-block bg-light followBtn">Un Follow</button>
                </div>
              </div>
            </div>
             
          </div>
      
        {/foreach}
  </div> -->
</div>



