{$profile = $scope.profile}
{{"include": "_user-profile-edit-artist.html"}}
   
<form id="user_overview_form" class="ajax-submit"  data-handler="save-cv" data-toggle="validator">
  <input type="hidden" name="obj_type" value="user_profile" />
  <input type="hidden" name="id"  value="{$scope.profile.profile_id}" />
  <input type="hidden" name="user_id" value="{$scope.profile.user_id}" />
  <input type="hidden" name="site_id" value="{$site.id}" />
              
<div class="form-group form-group-icon-left mt20">
  <textarea name="free_text" class="summernote form-control">{$scope.profile.free_text}</textarea>
</div>

<input type="submit" class="btn btn-success" value="Save">
<div class="gap gap-small"></div>

</form>


