{$social = json_decode($scope.curator_social, true)}


<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<style type="text/css">
	body, i,a{
	    color: #FFFF;
	    font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
	    font-size: 17px;
	}
	span {
	  font-size: 19px;
	}
	.socialmedia_follow1 {
	    padding: 0px;
	    margin-bottom: 15px;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	}
	.well1 {
	    width: 643px;
	    max-width: 100%;
	    min-height: 20px;
	    padding: 7px;
	    /*margin-bottom: 20px;*/
	    background-color: #f5f5f5;
	    border: 1px solid #e3e3e3;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
	}
</style>

<div class="container ">
  	<!-- <div class="col-sm-6">
      	<div class="profileinfo_logo">
            <img class="origin round" src="//new.vpatina.dci.in/user/object/user_profile/2623/photo/ig/vpatina-logo-120.png" alt="Logo">
      	</div>
    </div>

    <div class="col-sm-6">
  		<div class="profileinfo_title text-center">
            <h1>vpatina DCI</h1><p></p>
      	</div>
    </div> -->
  
  	<div class="row">

  		<div class="col-sm-12" align="center">
        	<div class="text-center">
        		<!-- <h2><b>Follow On Social Media</b></h2> -->
    		</div>
    	</div>
    	{if ($scope.user_detail.sign_up_link_status)==1}

	    	<div class="col-sm-12 sign_up_link" align="center" style="display:none">
				<div class="well1 socialmedia_follow1" style="background:#f783ac;">
					<input type="hidden" name="sign_up_link" id="sign_up_link" value="{$scope.user_detail.sign_up_link}" />

					<a href="{$scope.user_detail.sign_up_link}" target="_blank" style="font-size:23px; color:#FFFF;">
						<!--Facebook-->
						<i class="fas fa-user-check"></i>
						<span> Subscribe Mailing List </span>
					</a>
				</div>
	        </div>
	    {/if}
    	{if ($scope.user_detail.appointment_link_status)==1}

	        <div class="col-sm-12 appointment_link" align="center" style="display:none">
				<div class="well1 socialmedia_follow1" style="background:#fd7e14;">
					<input type="hidden" name="appointment_link" id="appointment_link" value="{$scope.user_detail.appointment_link}" />

					<a href="{$scope.user_detail.appointment_link}" target="_blank" style="font-size:23px; color:#FFFF;">
						<!--Facebook-->
						<i class="fas fa-calendar-check"></i>
						<span> Make Appointment</span>
					</a>
				</div>
	        </div>
	    {/if}

    	{if ($scope.user_detail.url_web)!=null}
			<div class="col-sm-12" align="center">
				<div class="well1 socialmedia_follow1" style="background:grey;">
					<a href="{$scope.user_detail.url_web}" target="_blank" style="font-size:23px; color:#FFFF;">
						<!--Facebook-->
						<i class="fas fa-globe"></i><span> Website </span>
					</a>
				</div>
	        </div>
	    {/if}

	    {if ($scope.user_detail.location_lat)!=null && ($scope.user_detail.location_long)!=null && ($scope.user_detail.address_show_status==1)}
			<div class="col-sm-12" align="center">
				<div class="well1 socialmedia_follow1" style="background:#ffc40c;">
		            <a href="https://www.google.com/maps/search/?api=1&query={$scope.user_detail.location_lat},{$scope.user_detail.location_long}" target="_blank" style="font-size:23px; color:#FFFF;">
								<!--Facebook-->
						<i class="fas fa-map-marker-alt"></i><span> Get Direction</span>
					</a>
		        </div>
		    </div>
	    {/if}
    	{if ($scope.user_detail.email_address)!=null}
			<div class="col-sm-12" align="center">

				<div class="well1 socialmedia_follow1" style="background:#82c91e;">
		            <a href="mailto:{$scope.user_detail.email_address}" target="_blank" style="font-size:23px; color:#FFFF;">
							<!--Facebook-->

						<i class="far fa-envelope"></i><span>  Email </span>
					</a>
		        </div>
		    </div>
	    {/if}
	    
    	{if ($social['fbook']!=null)}
			<div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#4267b2;">
		            <a href="{$social['fbook']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Facebook-->
		                <i class="fab fa-facebook" style="font-size:23px;background-color:#224fa9;"></i><span> Follow on Facebook</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['twit']!=null)}
		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#1da1f2;">
		            <a href="{$social['twit']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Twitter-->
		                <i class="fab fa-twitter" style="background-color:#0581ce;"></i><span> Follow on Twitter</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['insta']!=null)}

		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#d52b80;">
		            <a href="{$social['insta']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Instagram-->
		                <i class="fab fa-instagram" style="background-color:#b3065d;"></i><span> Follow on Instagram</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['link']!=null)}

		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#0073b0;">
		            <a href="{$social['link']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Facebook-->
		                <i class="fab fa-linkedin" style="background-color:#025886;" ></i><span> Follow on Linked In</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['print']!=null)}

		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#e60023;">
		            <a href="{$social['print']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Facebook-->
		               <i class="fab fa-pinterest" style="background-color:#b70520;"></i><span> Follow on Pinterest</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['youtu']!=null)}

		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:#ff0000;">
		            <a href="{$social['youtu']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Facebook-->
		                <i class="fab fa-youtube" style="background-color:#cc0202;"></i><span> Follow on Youtube</span>
		            </a>
		        </div>
		    </div>
	    {/if}


    	{if ($social['vimeo']!=null)}

		    <div class="col-sm-12" align="center">
		        <div class="well1 socialmedia_follow1" style="background:rgb(26, 46, 59);">
		            <a href="{$social['vimeo']}" target="_blank" style="font-size:23px; color:#FFFF;>
		                <!--Facebook-->
		                <i class="fab fa-vimeo" style="background-color:#0b1319;"></i><span> Follow on Vimeo</span>
		            </a>
		        </div>
		    </div>
	    {/if}
	    
     	
  	</div>
</div>  	




<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript">
$(function() {
	window.onload = function() {
		console.log('Ashiii');
		var sign_up_link_status = $('#sign_up_link').val();
		var appointment_link_status = $('#appointment_link').val();
		console.log('Ashiii'+ appointment_link);

		var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
		if (re.test(sign_up_link_status)) {
			$('.sign_up_link').css('display', 'block');
		}
		if (re.test(appointment_link_status)) {
			$('.appointment_link').css('display', 'block');
		}

	}
})
</script>