  {$minisiteobj = $scope.mhome}
  
      <form class="ajax-submit" data-handler="save-minisite">
        <input hidden="1" name="id" type="hidden" value="{$minisite.id|default:$id}">
        <input hidden="1" name="obj_id" type="hidden" value="{$minisite.id|default:$id}">
        <input hidden="1" name="user_id" type="hidden" value="{$minisite.user_id}">
        <input hidden="1" name="obj_type" type="hidden" value="minisite_home_page">  
        <input hidden="1" name="next_tab" type="hidden" value="basic">    
                
        <!-- <div>
          <div class="form-group">
            <div class="row">
            <div class="form-group col-sm-8">
              <label for="menu-title">Menu Title</label>
              <input type="text" class="form-control" maxlength="255" name="menu_title" value="{$minisiteobj.menu_title}">
            </div>
            <div class="form-group col-sm-8">
              <label for="page-title">Page Title</label>
              <input type="text" class="form-control" maxlength="255" name="page_title" value="{$minisiteobj.page_title}">
            </div>
          </div>  
        </div>
      </div> -->
      <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
          <label for="minisite-layout-structure">Layout Templates</label>
            {"layout"|object_select:"minisite_layout":["class" => "form-control", "value" => $minisite.layout]}
        </div>
      </div>
      
      <div class="form-group col-sm-12">
        <label for="Dates">Order of Exhibitions by Start Date</label>
        <div class="row">
          <table>
            <tr>
              <td>
                <input type="radio" {if ($minisiteobj.show_recent == '1')}checked{/if} class="form-control" name="show_recent" value="1" style= "width:20px">
              </td>
              <td style= "width:200px">Show Most Recent First</td>
              <td>
                <input type="radio" {if ($minisiteobj.show_recent == '0')}checked{/if} class="form-control" name="show_recent" value="0" style= "width:20px">
              </td>
              <td style= "width:200px">Show Most Recent Last</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="Dates">Filter Exhibitions by Dates</label>
        <div class="row">
          <table>
              <tr>
                <td>
                  <input name='show_past' value='0' type='hidden'>  
                  <input type="checkbox" {if ($minisiteobj.show_past == '1')}checked{/if} class="form-control" name="show_past" value="1" style= "width:20px">
                </td>
                <td style= "width:200px">Previous Exhibitions</td>
                <td>
                  <input name='show_current' value='0' type='hidden'>  
                  <input type="checkbox" {if ($minisiteobj.show_current == '1')}checked{/if} class="form-control" name="show_current" value="1" style= "width:20px">
                </td>
                <td style= "width:200px">Current Exhibitions</td>
                <td>
                  <input name='show_future' value='0' type='hidden'>  
                  <input type="checkbox" {if ($minisiteobj.show_future == '1')}checked{/if} class="form-control" name="show_future" value="1" style= "width:20px">
                </td>
                <td style= "width:200px">Future Exhibitions</td>
                <td>
                  <input name='show_latest' value='0' type='hidden'>  
                  <input type="checkbox" {if ($minisiteobj.show_latest == '1')}checked{/if} class="form-control" name="show_latest" value="1" style= "width:20px">
                </td>
                <td style= "width:500px">Display Latest Exhibition in cases where page would otherwise be empty</td>
              </tr>
          </table>
        </div>
      </div>

        <div class="form-group col-sm-12">
          <label for="type">Filter Exhibitions by type</label>
          <div class="row">
            <table>
                <tr>
                  <td>
                    <input name='show_gallery' value='0' type='hidden'>  
                    <input type="checkbox" {if ($minisiteobj.show_gallery == '1')}checked{/if} class="form-control" name="show_gallery" value="1" style= "width:20px">
                  </td>
                  <td style= "width:200px">Gallery Exhibitions</td>
                  <td>
                    <input name='show_artfair' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisiteobj.show_artfair == '1')}checked{/if} class="form-control" name="show_artfair" value="1" style= "width:20px" >
                  </td>
                  <td style= "width:200px">Art Fairs</td>
                  <td>
                    <input name='show_others' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisiteobj.show_others == '1')}checked{/if} class="form-control" name="show_others" value="1" style= "width:20px" >
                  </td>
                  <td style= "width:200px">Other Events</td>
                </tr>
            </table>

          </div>
        </div>

        <!-- <div class="form-group col-sm-12">
          <label for="Fonts">Add Filters for Page(Optional)</label>
          <div class="row">
            <table>
                <tr>
                  <td style= "width:200px">Previous/ Current/ Future</td>
                  <td style= "width:200px">
                    <input name='date_filter' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.date_filter)}checked{/if} class="bootstrap-toggle" value="1" name="date_filter" id="gbe_collection_active">
                  </td>
                  <td style= "width:200px">Gallery/ Fair/ Other</td>
                  <td style= "width:200px">
                    <input name='type_filter' value='0' type='hidden'> 
                    <input type="checkbox" {if ($minisite.type_filter)}checked{/if} class="bootstrap-toggle" value="1" name="type_filter" id="gbe_collection_active">
                  </td>                 
                </tr>
            </table>    
          </div>
        </div> -->

        <input type="submit" class="btn btn-success" value="Save">
      </form>  

