    {$media_id = $scope.add_media}  

      <label for="media-name">Upload/ Attach ONE related media to the related image record</label>
      <div class="custom_button_cover">
      <div class="commonin_row">
          {"media_collection_map"|object_uploader:$media_id:"map":["resize" => 1, "cloud" => 1, "view" => 'grid', "allow_multiple" => false]}
        </div>
        <div class="custom_button_float">
          <span>OR &nbsp &nbsp</span>
          <a href="/backend/vaults?add_to_exbart={$collection.id}|{$media_id}&amp;col=1&amp;_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-square"></i> Media Drive</a>
        </div>
      </div>

      <a href="/backend/exhibition/{$collection.id}/edit/media?_pv=1" class="ajax-loader" data-target="#subview-container"><button class='btn btn-success'>Save</button></a>


      <!-- <input hidden="1" name="id" type="hidden" value="{$collection.id}">
      <input hidden="1" name="obj_id" type="hidden" value="{$collection.id}">
      <input hidden="1" name="obj_type" type="hidden" value="media_collection"> 
      <input hidden="1" name="next_tab" type="hidden" value="title">
        <div class="row form-group">
          <label for="media-name">Attach existing art or images</label>
          <div class="col-xs-12">
            <a href="/backend/artworks?add_to={$collection.id}&amp;_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-square"></i> Attach Artworks</a>
          </div>
        </div>

        <div class="gap gap-small"></div>
          <label for="media-name">Upload related images</label>
          <div class="custom_button_cover">
            <div class="commonin_row">
              {"media_collection"|object_uploader:$collection.id:"map":["resize" => 1, "cloud" => 1, "view" => 'grid']}
            </div>
            <div class="custom_button_float"> 
              <span>OR &nbsp &nbsp</span>
              <a href="/backend/vaults?add_to_exbart={$collection.id}&amp;col=1&amp;_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-square"></i> Media Drive</a>
            </div>
          </div>

        <div class="gap gap-small"></div> -->
        
        