
                          {if ($collection_type_name && $scope.artworks|@count)}
                          <div class="gallery-related" id="collection_artworks">
                           <div class="profileinfo italic mb10">
                            <h1>Other Art in the {$collection_type_name}</h1>
                           </div>
                            {$items = $scope.artworks}
                            {$scope.obj_type = 'artwork'}
                            {{"include": "_gallery-artwork-items.html"}}
                          </div>
                          {/if}

                          

                          {if ($artist_name && $scope.artist_artworks|@count)} 
                          <div class="gallery-related" id="artist_artworks">
                           <div class="profileinfo italic mb10">
                            <h1>Selected Artworks by {$artist_name}</h1>
                           </div>
                            {$items = $scope.artist_artworks}
                            {{"include": "_gallery-selectedart-items.html"}}
                          </div>
                          {/if}

              

                          <!-- Curator profile page (controller_artist_profile)-->
                          {if ($curator_name && $scope.artist_artworks|@count)} 
                          <div class="gallery-related" id="artist_artworks">
                           <div class="profileinfo italic mb10">
                            <h1>Selected Artworks by {$curator_name}</h1>
                           </div>
                            {$items = $scope.artist_artworks}
                            {{"include": "_gallery-selectedart-items.html"}}
                          </div>
                          {/if}

                          <!-- Display selected art in artwork page (controller_gallery_artworks)-->
                          {if ($getpage && $artist_name && $scope.artist_artwork|@count)} 
                          <div class="gallery-related" id="artist_artworks">
                           <div class="profileinfo italic mb10">
                            <h1>Selected Artworks by {$artist_name}</h1>
                           </div>
                            {$items = $scope.artist_artwork}
                            {{"include": "_gallery-selectedart-items.html"}}
                          </div>
                          {/if}
                          
                        

                          <!-- artwork page "controller_gallery_artworks" -->
                          <!-- to display curator Projects in artwork  -->
                          {if ($scope.curator_name && $scope.my_projects|@count)}
                          <div class="gallery-related" id="artist_exhibitions">
                           <div class="profileinfo italic mb10">
                            <h1>Projects and Exhibitions by {$scope.curator_name}</h1>
                           </div>
                            {$items = $scope.my_projects}
                            {{"include": "_gallery-collection-project-items.html"}}
                          </div>
                          {/if}

                          {if ($artist_name && $scope.artist_exhibitions|@count)}
                          <div class="gallery-related" id="artist_exhibitions">
                           <div class="profileinfo italic mb10">
                            <h1>Exhibitions featuring {$artist_name}</h1>
                           </div>
                            {$items = $scope.artist_exhibitions}
                            {{"include": "_gallery-collection-featuring-items.html"}}
                          </div>
                          {/if}

                          

                          <!-- to display curator exhibition for artist profile page -->
                          {if ($scope.curator_name && $scope.curator_exhibition|@count)} 
                          <div class="gallery-related" id="curator_exhibitions">
                           <div class="profileinfo italic mb10">
                            <h1>Exhibitions curated by {$scope.curator_name}</h1>
                           </div>
                            {$items = $scope.curator_exhibition}
                            {{"include": "_gallery-collection-items.html"}}
                          </div>
                          {/if}
                          <!--  End-->

                          
                          
                          <!-- For artwork and exhibition page
                            (controller_gallery_collections,controller_gallery_artworks)  -->
                          {if ($curator_name && $scope.curator_exhibitions|@count)} 
                          <div class="gallery-related" id="curator_exhibitions">
                           <div class="profileinfo italic mb10">
                            <h1>Exhibitions curated by {$curator_name}</h1>
                           </div>
                            {$items = $scope.curator_exhibitions}
                            {{"include": "_gallery-collection-items.html"}}
                          </div>
                          {/if}
                          
                          
                          
                          {if (0 && $artist_name && $scope.artist_projects|@count)}
                          <div class="gallery-related" id="artist_projects">
                           <div class="profileinfo italic mb10">
                            <h1>Projects by {$artist_name}</h1>
                           </div>
                            {$items = $scope.artist_projects}
                            {{"include": "_gallery-collection-items.html"}}
                          </div>
                          {/if}

                          

