  <div>
    <div class="row">              
      <div class="col-sm-6">
        <label for="menu_title">Menu Title</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input name="menu_title" id="menu_title" class="form-control" type="text" maxlength="15" required/>
        </div>         
      </div>   

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="page_title">Page Title</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input name="page_title" id="page_title" class="form-control" type="text" maxlength="15"/>
          </div>          
        </div>
      </div>   
    </div>
    
    <div class="row mt20">
      <div class="form-group col-sm-8">
        <label for="first_name">Page type</label>
        {"type"|object_select:"minisite_page_type":["class" => "form-control", 'sort' => 'row_order asc']}
      </div>     
    </div>
  </div>      
    
        