{$hover = $scope.hover}
{{"include": "_gallery-backend-website-subtab.html"}} 

<input hidden="1" name="obj_id" type="hidden" class="obj_id" value="{$minisite.id|default:$id}">
<label class="mt20">Hover Effects (not all animations work with all layouts - find a mix that works for you)</label>

<div class="row mt20">
	<div class="col-sm-12 col-md-12">
		<label>Text-Free Animations</label> 
		<p class="mb20">Look great with all layouts - great if you want to keep information about each artwork under it
		- but want to add some zest to your page </p> 
	</div>
</div>
<div class="row mt20 hovereffect_options">
	{foreach from = $hover item=item}
		{if ($item.type==1)}		<!-- None, Zoomin, Zoomout, Flash, Shine, Circle, Tilt -->
			<div class="col-sm-6">
				<div class="fontsty_boxblk effect-{$item.id}">
					<div class="hover_style fontsty_box classic no-padding">				
						<figure class="effect-{$item.id}">
							<div class="hover_cover" style="max-height: 290px;">
								<img src="/img/art_hover.jpg" alt="img01"/>
								<figcaption>
									<h2>Dipping in Lake, 2017</h2>
									<p>Photographic Print on Metal<br>Luna De Jong</p>
									<a href="#">View more</a>
								</figcaption>
							</div>
						</figure>
					</div>
					<div class="form-group">
						<div class="selrad_box">
						  <input type="radio" class="art_hover" name="art_hover" id="radio1" value="{$item.id}" {if ($minisite.art_animation == $item.id)}CHECKED{/if}> {$item.name} {if (($item.name == 'Flip') || ($item.name == 'Slide Left') )}(recommended for all layouts) {/if}
						</div> 
					</div> 
				</div> 
			</div>
		{/if}
	{/foreach}
</div>
<div class="row mt20 mb20">
	<div class="col-sm-12">
		<label>Text Animations</label> 
	</div>
	<div class="col-sm-12 mt20 mb20">
	  <label>What information do you want to show on the text mouseovers/hover effects</label>
	  <div class="input-group">
	    <input type="radio" class="hover_text" name="hover_text" value="1" {if ($minisite.hover_text == 1)} checked {/if} required > Basic Information: Title, Year, Technique.. (use effects to show key basic info, so you can hide under art info)
	  </div>
	  <div class="input-group">
	    <input type="radio" class="hover_text" name="hover_text" value="2" {if ($minisite.hover_text != 1)} checked {/if} required > Details: Number in Series, Edition Number, Presentation... (maximize on page info, details in the animation, then show basic info under the art)
	  </div>
	</div>
	<div class="col-sm-12">
		<p>Only one text animation works with “STANDING” layouts - (it will be automatically selected regardless of which you choose)</p>
		<p>Text Labels + Animations - Look great on Hanging & Masonry</p>
	</div>	
</div>
<div class="row mt20 mb20 hovereffect_options">
	{foreach from = $hover item=item}
		{if ($item.type == 2)}		<!-- Lilly, Marley, Milo -->
			<div class="col-sm-6">
				<div class="fontsty_boxblk effect-{$item.id}">
					<div class="hover_style fontsty_box classic no-padding">				
						<figure class="effect-{$item.id}">
							<div class="hover_cover" style="max-height: 290px;">
								<img src="/img/art_hover.jpg" alt="img01"/>
								<figcaption>
									<h2>Dipping in Lake, 2017</h2>
									<p>Photographic Print on Metal<br>Luna De Jong</p>
									<a href="#">View more</a>
								</figcaption>
							</div>
						</figure>
					</div>
					<div class="form-group">
						<div class="selrad_box">
						  <input type="radio" class="art_hover" name="art_hover" id="radio1" value="{$item.id}" {if ($minisite.art_animation == $item.id)}CHECKED{/if}> {$item.name} {if (($item.name == 'Flip') || ($item.name == 'Slide Left') )}(recommended for all layouts) {/if}
						</div> 
					</div> 
				</div> 
			</div>
		{/if}
	{/foreach}
</div>
<div class="row">
	<div class="col-sm-12 mt20 mb20"><label>Large Font Animation - Look great on Manhattan</label> </div>
</div>
<div class="row hovereffect_options">
	{foreach from = $hover item=item}
		{if ($item.type == 3)}		<!-- Slide Left, Slide Up -->
			<div class="col-sm-6">
				<div class="fontsty_boxblk effect-{$item.id}">
					<div class="hover_style fontsty_box classic no-padding">				
						<figure class="effect-{$item.id}">
							<div class="hover_cover" style="max-height: 290px;">
								<img src="/img/art_hover.jpg" alt="img01"/>
								<figcaption>
									<h2>Dipping in Lake, 2017</h2>
									<p>Photographic Print on Metal<br>Luna De Jong</p>
									<a href="#">View more</a>
								</figcaption>
							</div>
						</figure>
					</div>
					<div class="form-group">
						<div class="selrad_box">
						  <input type="radio" class="art_hover" name="art_hover" id="radio1" value="{$item.id}" {if ($minisite.art_animation == $item.id)}CHECKED{/if}> {$item.name} {if (($item.name == 'Flip') || ($item.name == 'Slide Left') )}(recommended for all layouts) {/if}
						</div> 
					</div> 
				</div> 
			</div>
		{/if}
	{/foreach}
</div>
<div class="row">
	<div class="col-sm-12 mt20 mb20"><label>Delicate Font Animations - Look great on most layouts</label> </div>
</div>
<div class="row hovereffect_options">
	{foreach from = $hover item=item}
		{if ($item.type == 4)}	<!--Flipcard, Slip, Drop, Fade -->
			<div class="col-sm-6">
				<div class="fontsty_boxblk effect-{$item.id}">
					<div class="hover_style fontsty_box classic no-padding">				
						<figure class="effect-{$item.id}">
							<div class="hover_cover" style="max-height: 290px;">
								<img src="/img/art_hover.jpg" alt="img01"/>
								<figcaption>
									<h2>Dipping in Lake, 2017</h2>
									<p>Photographic Print on Metal<br>Luna De Jong</p>
									<a href="#">View more</a>
								</figcaption>
							</div>
						</figure>
					</div>
					<div class="form-group">
						<div class="selrad_box">
						  <input type="radio" class="art_hover" name="art_hover" id="radio1" value="{$item.id}" {if ($minisite.art_animation == $item.id)}CHECKED{/if}> {$item.name} {if (($item.name == 'Flip') || ($item.name == 'Slide Left') )}(recommended for all layouts) {/if}
						</div> 
					</div> 
				</div> 
			</div>
		{/if}
	{/foreach}
</div>
<script type="text/javascript">
  $(document).ready( function() {
    hidetabs();
  });
</script>