{$minisitepage = $scope.minisitepage}
{$layouts = $scope.single_exb_layout}
{$obj_id = $scope.page_id}

{{"include": "_gallery-backend-website-subtab.html"}}

    <input hidden="1" name="obj_id" type="hidden" class="obj_id" value="{$obj_id}">
    
    <div class="row mt20">
      {foreach from=$layouts item=$layout}
        <div class="col-sm-6">
            <div class="fontsty_boxblk">
              <div class="fontsty_box no-padding">
                  <img src="/img/{$layout.image}" />
              </div>
              <div class="form-group">
                <div class="selrad_box">
                  <input type="radio" class="page_layout" name="page_layout" id="radio1" value="{$layout.id}" {if ($minisitepage.page_layout == $layout.id)} checked {/if} > {$layout.name}
                </div> 
            </div> 
          </div> 
        </div>  
      {/foreach}
    </div>  
  