      <form class="ajax-submit" data-handler="save-minisite">
        <input hidden="1" name="id" type="hidden" value="{$scope.obj_id}">
        <input hidden="1" name="obj_type" type="hidden" value="{$scope.obj_type}">      
                
        <div class="form-group">
          <label for="Fonts">Fonts</label>
          <div class="row">
            {$fonts = ['', 'Helvetica', 'Arial', 'sans-serif', 'Verdana', 'Comic Sans']}
            <div class="form-group col-sm-3">
              <select class="form-control auto-select" id="title-font" value="title-font" data-default="Menu on Top Logo top Right" data-value="{$minisite.fonts|default:'Menu on Top Logo top Right'}">
                {foreach from=$fonts item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
            <div class="form-group col-sm-3">
              <select class="form-control auto-select" id="layout-structure" name="layout-structure" data-default="Menu on Top Logo top Right" data-value="{$minisite.fonts|default:'Menu on Top Logo top Right'}">
                {foreach from=$fonts item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
            <div class="form-group col-sm-3">
              <select class="form-control auto-select" id="layout-structure" name="layout-structure" data-default="Menu on Top Logo top Right" data-value="{$minisite.fonts|default:'Menu on Top Logo top Right'}">
                {foreach from=$fonts item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
            <div class="form-group col-sm-3">
              <select class="form-control auto-select" id="layout-structure" name="layout-structure" data-default="Menu on Top Logo top Right" data-value="{$minisite.fonts|default:'Menu on Top Logo top Right'}">
                {foreach from=$fonts item=type}
                  <option value="{$type}">{$type}</option>
                {/foreach}                                            
              </select>
            </div>
          </div>
        </div>
      </form>