{$collection = $scope.collection}

{$images = $scope.related_images}
{$types = $scope.description_type}
{{"include": "_gallery-backend-collection-media-dialog.html"}}
<div class="form-group">
  <div class="row form-group">
    <li>Green “Attach Artworks” button selects artworks for the exhibition </li>
    <li>Green “Add Image” button adds details about installation shots, studio shots etc. to the exhibition </li>
    <li>Green “Add/Edit Media” in the table attaches images to image details created by the “Add Image” button  </li>
    <li>Drag and drop images and artworks in the table to order how they appear </li>
    <li>Don’t forget to use the save button - so changes stick</li>
    <div class="col-xs-12 mt20">
      <a href="https://vimeo.com/362328034" class="btn btn-info button-large popup-iframe" data-effect="mfp-fade"><i class="fa fa-play-circle"></i>Attach Artworks Tutorial</a>
      <span>&nbsp;</span>
      <a href="https://vimeo.com/362322630" class="btn btn-info button-large popup-iframe" data-effect="mfp-fade"><i class="fa fa-play-circle"></i>Adding Images Tutorial</a>
    </div><br>
    <div class="col-xs-12 mt20">
      <a href="/backend/artworks?add_to={$collection.id}&amp;_pv=1" class="btn btn-success ajax-loader" data-target="#subview-container"><i class="fa fa-plus-square"></i> Attach Artworks</a>
      <span>OR</span>
      <a id="{$image.id}" type="button" class="btn btn-success collection_image_add" data-toggle="modal" data-target="#gbe_related_media_dialog" data-typeid="{$image.descriptiontype_id}" data-description="{$image.short_description}" > Add Image</button></a>
    </div>
  </div><br>
  
  <table class = "bootstrap-table table table-hover exhibition_art">
    <thead>
      <tr>
        <th>Image</th>
        <th>Art: Title</th>
        <th>Exhibition Image: Type</th>
        <th>Exhibition Image: Caption</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id= "sortable-row">
      {foreach $images as $image} 
        <tr id= "{$image.id}">
          {$media = (array)find_object('media', ['id' => $image.media_id])}
          {if ($media)}
            {$path = "`$media.path`thumb/`$media.filename`" }
          {/if}
          <td class="table-thumb">
            {if ($image.media_id)}
              <img src="{$path}">
            {else}
            {/if}
          </td>
          {if ($image.artwork_id)}  
            {$artwork = get_object('artwork', $image.artwork_id)}
            <td><span style="cursor: default;">{$artwork->title}</span></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          {if (!$image.artwork_id)} 
            {$type_desc = ''}
            {foreach $types as $type} 
              {if ($type.id == $image.type)}
                {$type_desc = $type.name}
              {/if}
            {/foreach}
            <td class="editable"><select id="status{$image.id}" class="form-control type" data-id="{$image.id}" onchange="save_status({$image.id});"><option>Select</option><option {if ($image.type == '10')} selected="selected" {/if} value="10">Blank - leave blank</option><option {if ($image.type == '20')} selected="selected" {/if} value="20">Detail </option><option {if ($image.type == '30')} selected="selected" {/if} value="30">Installation</option><option {if ($image.type == '40')} selected="selected" {/if} value="40">Studio</option><option {if ($image.type == '50')} selected="selected" {/if} value="50">Inspiration</option><option {if ($image.type == '60')} selected="selected" {/if} value="60">Influences</option><option {if ($image.type == '70')} selected="selected" {/if} value="70">Event</option></select></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          {if (!$image.artwork_id)}
            <td class="editable"><span contenteditable="true" class="edit-collection-description form-control caption" data-id={$image.id} data-col="description">{$image.description}</span></td>
          {else}
            <td><span style="cursor: default;">N/A</span></td>
          {/if}
          <td>
            <button class='btn btn-danger' id= 'delete-collection-media' data-value='{$image.id}'> <i class='glyphicon glyphicon-trash'></i></button>
            {if (!$image.artwork_id)}    
              <a href="/backend/exhibition/{$collection.id}/edit/medias?add_media={$image.id}&_pv=1" id="{$image.id}" type="button" class="btn btn-success ajax-loader" data-target="#subview-container">Add/Edit Media</button></a>
            {/if}
          </td>
        </tr>
      {/foreach} 
    </tbody>
  </table><br>
  <input type="submit" class="btn btn-success" id= 'submit_order' value="Save page order" onClick="saveOrder();">
</div>
<script type="text/javascript">
  $("#gbe_media_link").hide();
  $(function() {
      $("#sortable-row").sortable({
        cancel: 'input,textarea,button,select,option,[contenteditable]',
      });
    });
    
  function saveOrder() {
    var order_id = new Array();
    $('tbody#sortable-row tr').each(function() {
    order_id.push($(this).attr("id"));
    });

    $.ajax({
      url: "/ajax.php?oper=submit-order",
      data: {
        oper: "submit-order",
        val: order_id,
        obj_type: "media_collection_map"
      },
    });
  }

  function save_status(id) {
    var status = "#status" + id;;
    var value = $(status).val();
    //alert(value);
    $.ajax({ url: "/ajax.php",
      data: {
        oper: "save-media-related",
        obj_type : "media_collection_map",
        type : value,
        obj_id : id,
        dedit: "1",
      },
    });    
  }

</script>
