<!-- subtabs -->
{$tab9_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'solo']}
{$tab10_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'group']}
{$tab11_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'press']}
{$tab12_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'awards']}
{$tab13_link = 'backend:subview:id:action:tab'|rroute:['subview' => $page.itemview, 'id' => $scope.obj_id, 'action' => 'edit', 'tab' => 'freetext']}

{$tab = 'solo'}

<div class="tab-content">
  <div id="tab_content" class="tab-pane fade in active pt20">       
      
  {if ($tab == 'solo')}
    {{"include": "_gallery-backend-profile-solo.html"}}    
  {elseif ($tab == 'group')}
    {{"include": "_gallery-backend-profile-group.html"}}    
  {elseif ($tab == 'press')}
    {{"include": "_gallery-backend-profile-press.html"}}    
  {elseif ($tab == 'awards')}
    {{"include": "_gallery-backend-profile-awards.html"}}    
  {elseif ($tab == 'freetext')}
    {{"include": "_gallery-backend-profile-freetext.html"}} 
   
  {else}
    {"Unknown tab `$tab`"|alert:"error"}
  {/if}    
  </div>
</div>
