{$profile = $scope.profile}
{$awards = $scope.awards}
{$solo_shows = $scope.solo_shows}
{$group_shows = $scope.group_shows}
{$press_data = $scope.press_data}

{$awards = json_decode($awards,True)}
{$solo_shows = json_decode($solo_shows,True)}
{$group_shows = json_decode($group_shows,True)}
{$press_data = json_decode($press_data,True)}
{$show_data = json_decode($scope.profile.show_data,True)}
          
<form id="user_overview_form" class="ajax-submit"  data-handler="save-cv" data-toggle="validator">
  <input type="hidden" name="obj_type" value="user_profile" />
  <input type="hidden" name="id"  value="{$scope.profile.profile_id}" />
  <input type="hidden" name="user_id" value="{$scope.profile.user_id}" />
  <input type="hidden" name="site_id" value="{$site.id}" />
  <input type="hidden" name="description" value="{$scope.profile.description}" />
              
<div class="form-group form-group-icon-left">
  <label>Solo Shows</label>
  <textarea name="gallery_solo_shows" class="summernote form-control" placeholder="List of solo shows">{$scope.profile.gallery_solo_shows}</textarea>
</div>

<div class="form-group form-group-icon-left">
  <label>Group Shows</label>
  <textarea name="gallery_group_shows" class="summernote form-control" placeholder="List of group shows">{$scope.profile.gallery_group_shows}</textarea>
</div>

<div class="form-group form-group-icon-left">
  <label>Press</label>
  <textarea name="press" class="summernote form-control" placeholder="List of press mentions">{$scope.profile.press}</textarea>
</div>

<div class="form-group form-group-icon-left">
  <table cellspacing="10">
    <tr>
      <td width="40%"><label>Solo Shows</label></td>
      <td width="47%">
        <div class="input-group">
          <input name='show_data[solo_shows]' value='0' type='hidden'> 
          <input type="checkbox" class="bootstrap-toggle" value="1" name="show_data[solo_shows]" id="solo_shows" {if ($show_data['solo_shows'] == '1')} checked {/if}>
        </div>
      </td>
      <td ><button type="button" class="btn btn-primary add_solo">ADD</button></td>
    </tr>
    <tr style="height: 10px;"/>
  </table>
  
  <div id="shows">
    <table cellspacing="2">
      {foreach from=$solo_shows item=$solo_show}
        {$data = explode("-", $solo_show['year'])}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="solo_shows_[year][]" value="{$data[0]}" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="solo_shows_[month][]" value="{$data[1]}" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%"><input type="text" class="form-control" name="solo_shows_[description][]" value="{$solo_show['description']}" maxlength="100" style="padding-left: 5px;"></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>   
        </tr>
        <tr style="height: 5px;"/>
      {/foreach}   
       
      {if (($solo_show['year']== '') && ($solo_show['month']=='') && ($solo_show['description'] == ''))}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="solo_shows_[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="solo_shows_[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%">
            <input type="text" class="form-control" name="solo_shows_[description][]" maxlength="100" placeholder="Solo Shows" style="padding-left: 5px;" ></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>
        </tr>
        <tr style="height: 5px;"/>   
      {/if}             
    </table>  
  </div>                
</div>

<div class="form-group form-group-icon-left">
  <table cellspacing="10">
    <tr>
      <td width="40%"><label>Group Shows</label></td>
      <td width="47%">
        <div class="input-group">
          <input name='show_data[group_shows]' value='0' type='hidden'> 
          <input type="checkbox" class="bootstrap-toggle" value="1" name="show_data[group_shows]" id="group_shows_" {if ($show_data['group_shows'] == '1')} checked {/if}>
        </div>
      </td>
      <td ><button type="button" class="btn btn-primary add_group">ADD</button></td>
    </tr>
    <tr style="height: 10px;"/>
  </table>
  
  <div id="group">
    <table cellspacing="2">
      {foreach from=$group_shows item=$group_show}
        {$data = explode("-", $group_show['year'])}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="group_shows_[year][]" value="{$data[0]}" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="group_shows_[month][]" value="{$data[1]}" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%"><input type="text" class="form-control" name="group_shows_[description][]" value="{$group_show['description']}" maxlength="100" style="padding-left: 5px;"></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>   
        </tr>
        <tr style="height: 5px;"/>
      {/foreach}   
       
      {if (($group_show['year']== '') && ($group_show['month']=='') && ($group_show['description'] == ''))}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="group_shows_[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="group_shows_[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%">
            <input type="text" class="form-control" name="group_shows_[description][]" maxlength="100" placeholder="Group Shows" style="padding-left: 5px;" ></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>
        </tr>
        <tr style="height: 5px;"/>   
      {/if}             
    </table>  
  </div>                
</div>

<div class="form-group form-group-icon-left">
  <table cellspacing="10">
    <tr>
      <td width="40%"><label>Press</label></td>
      <td width="47%">
        <div class="input-group">
          <input name='show_data[press]' value='0' type='hidden'> 
          <input type="checkbox" class="bootstrap-toggle" value="1" name="show_data[press]" id="press" {if ($show_data['press'] == '1')} checked {/if}>
        </div>
      </td>
      <td ><button type="button" class="btn btn-primary add_gal_press">ADD</button></td>
    </tr>
    <tr style="height: 10px;"/>
  </table>
  
  <div id="gal_press">
    <table cellspacing="2">
      {foreach from=$press_data item=$press_gal}
        {$data = explode("-", $press_gal['year'])}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="press_data[year][]" value="{$data[0]}" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="press_data[month][]" value="{$data[1]}" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%"><input type="text" class="form-control" name="press_data[description][]" value="{$press_gal['description']}" maxlength="100" style="padding-left: 5px;"></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>   
        </tr>
        <tr style="height: 5px;"/>
      {/foreach}   
       
      {if (($press_gal['year']== '') && ($press_gal['month']=='') && ($press_gal['description'] == ''))}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="press_data[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="press_data[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%">
            <input type="text" class="form-control" name="press_data[description][]" maxlength="100" placeholder="Press" style="padding-left: 5px;" ></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>
        </tr>
        <tr style="height: 5px;"/>
      {/if}                
    </table>  
  </div>                
</div>

<div class="form-group form-group-icon-left">
  <table cellspacing="10">
    <tr>
      <td width="40%"><label>Awards</label></td>
      <td width="47%">
        <div class="input-group">
          <input name='show_data[awards]' value='0' type='hidden'> 
          <input type="checkbox" class="bootstrap-toggle" value="1" name="show_data[awards]" id="show_awards" {if ($show_data['awards'] == '1')} checked {/if}>
        </div>
      </td>
      <td ><button type="button" class="btn btn-primary add">ADD</button></td>
    </tr>
    <tr style="height: 10px;"/>
  </table>
  
  <div id="wrapper">
    <table cellspacing="2">

      {foreach from=$awards item=$award}
        {$data = explode("-", $award['year'])}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="awards[year][]" value="{$data[0]}" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="awards[month][]" value="{$data[1]}" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%"><input type="text" class="form-control" name="awards[description][]" value="{$award['description']}" maxlength="100" style="padding-left: 5px;"></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>   
        </tr>
        <tr style="height: 5px;"/>
      {/foreach}   
       
      {if (($award['year']== '') && ($award['month']=='') && ($award['description'] == ''))}
        <tr>
          <td width="10%">
            <div class="input-group">
              <input type="text" id="yearpicker" class="form-control datepicker yearpick" name="awards[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="15%">
            <div class="input-group">
              <input type="text" id="monthpicker" class="form-control datepicker monthpick" name="awards[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </td>
          <td width="2%"></td>
          <td width="25%">
            <input type="text" class="form-control" name="awards[description][]" maxlength="100" style="padding-left: 5px;" ></td>
          <td width="5%"></td>
          <td><button type="button" class="btn btn-danger remove">x</button></td>
        </tr>
        <tr style="height: 5px;"/>
      {/if}
    </table>  
  </div>                
</div>

<input type="submit" class="btn btn-primary" value="Save" id="save-cv">


<script type="text/javascript">
  $(document).ready(function() {
    var max_fields = 20; //maximum input boxes allowed
    var shows = $("#shows"); //Fields wrapper
    var add_solo = $(".add_solo"); //Add button ID    

    var x = 1; //initlal text box count
    $(add_solo).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(shows).append('<table cellspacing="2"><tr><td width="10%"><div class="input-group"><input type="text" id="yearpicker1" class="form-control datepicker yearpick" name="solo_shows_[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="15%"><div class="input-group"><input type="text" id="monthpicker1" class="form-control datepicker monthpick" name="solo_shows_[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="25%"><input type="text" class="form-control" name="solo_shows_[description][]" maxlength="100" style="padding-left: 5px;"></td><td width="5%"></td><td><button type="button" class="btn btn-danger remove">x</button></td></tr><tr style="height: 5px;"/></table>'); //  add input box

        $( ".yearpick" ).datepicker({
           minViewMode: 2,
           format: 'yyyy',
           autoclose : true
        });

        $( ".monthpick" ).datepicker({
          minViewMode: 1,
          format: 'MM',
          autoclose : true
        });
      }
    });

    $('#shows').on('click','.remove', function(e){ //user click on remove field
      console.log("removed");
      $(this).closest('tr').remove();
       x--; 
    });

    var group = $("#group"); //Fields wrapper
    var add_group = $(".add_group"); //Add button ID    

    var x = 1; //initlal text box count
    $(add_group).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(group).append('<table cellspacing="2"><tr><td width="10%"><div class="input-group"><input type="text" id="yearpicker1" class="form-control datepicker yearpick" name="group_shows_[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="15%"><div class="input-group"><input type="text" id="monthpicker1" class="form-control datepicker monthpick" name="group_shows_[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="25%"><input type="text" class="form-control" name="group_shows_[description][]" maxlength="100" style="padding-left: 5px;"></td><td width="5%"></td><td><button type="button" class="btn btn-danger remove">x</button></td></tr><tr style="height: 5px;"/></table>'); //  add input box

        $( ".yearpick" ).datepicker({
           minViewMode: 2,
           format: 'yyyy',
           autoclose : true
        });

        $( ".monthpick" ).datepicker({
          minViewMode: 1,
          format: 'MM',
          autoclose : true
        });
      }
    });

    $('#group').on('click','.remove', function(e){ //user click on remove field
      console.log("removed");
      $(this).closest('tr').remove();
       x--; 
    });   

    var gal_press = $("#gal_press"); //Fields wrapper
    var add_gal_press = $(".add_gal_press"); //Add button ID    

    var x = 1; //initlal text box count
    $(add_gal_press).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(gal_press).append('<table cellspacing="2"><tr><td width="10%"><div class="input-group"><input type="text" id="yearpicker1" class="form-control datepicker yearpick" name="press_data[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="15%"><div class="input-group"><input type="text" id="monthpicker1" class="form-control datepicker monthpick" name="press_data[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="25%"><input type="text" class="form-control" name="press_data[description][]" maxlength="100" style="padding-left: 5px;"></td><td width="5%"></td><td><button type="button" class="btn btn-danger remove">x</button></td></tr><tr style="height: 5px;"/></table>'); //  add input box

        $( ".yearpick" ).datepicker({
           minViewMode: 2,
           format: 'yyyy',
           autoclose : true
        });

        $( ".monthpick" ).datepicker({
          minViewMode: 1,
          format: 'MM',
          autoclose : true
        });
      }
    });

    $('#gal_press').on('click','.remove', function(e){ //user click on remove field
      console.log("removed");
      $(this).closest('tr').remove();
       x--; 
    });   

    var wrapper = $("#wrapper"); //Fields wrapper
    var add = $(".add"); //Add button ID    

    var x = 1; //initlal text box count
    $(add).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(wrapper).append('<table cellspacing="2"><tr><td width="10%"><div class="input-group"><input type="text" id="yearpicker1" class="form-control datepicker yearpick" name="awards[year][]" maxlength="100" placeholder="Year" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="15%"><div class="input-group"><input type="text" id="monthpicker1" class="form-control datepicker monthpick" name="awards[month][]" maxlength="100" placeholder="Month" style="padding-left: 5px;" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div></td><td width="2%"></td><td width="25%"><input type="text" class="form-control" name="awards[description][]" maxlength="100" style="padding-left: 5px;"></td><td width="5%"></td><td><button type="button" class="btn btn-danger remove">x</button></td></tr><tr style="height: 5px;"/></table>'); //  add input box

        $( ".yearpick" ).datepicker({
           minViewMode: 2,
           format: 'yyyy',
           autoclose : true
        });

        $( ".monthpick" ).datepicker({
          minViewMode: 1,
          format: 'MM',
          autoclose : true
        });
      }
    });
    
    $('#wrapper').on('click','.remove', function(e){ //user click on remove field
      console.log("removed");
      $(this).closest('tr').remove();
       x--; 
    });
    
  });
  
  $( ".yearpick" ).datepicker({
     minViewMode: 2,
     format: 'yyyy',
     autoclose : true
  });

  $( ".monthpick" ).datepicker({
    minViewMode: 1,
    format: 'MM',
    autoclose : true
  });

$(document).on("click",'#save-cv',function() {
   setTimeout(function() { 
    $("#gbe_cv_link").trigger('click');
  }, 1000);
});

  
</script>     